@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<script type="text/javascript">
        $(document).ready(function() {
            $('.proj-cart').click(function () {
                var type = $(this).attr("type");
                window.location.href = "/projectsList?type="+type;
            });
        });
</script>

<div class="hide_line section transparent_ico section128" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Проекты деревянных домов и бань </div>
        <div class="sub_title"></div>

        <div class="arr1">
            <div class="col_3 proj-cart" type="1">
                <div class="image1"><img src="/content/img/catalog/house_1.jpg" alt=""></div>
                <div class="title1"><span style="font-size:18px">Дома из бревна</span></div>
                <div class="btn1 surround" style="background-color:#3F7B16;  border-radius: 1em;">Подробнее</div>
            </div>
            <div class="col_3 proj-cart" type="2">
                <div class="image2"><img src="/content/img/catalog/house_2.jpg" alt=""></div>
                <div class="title1"><span style="font-size:18px">Дома из клееного бруса</span></div>
                <div class="btn2 surround" style="background-color:#3F7B16;  border-radius: 1em;">Подробнее</div>
            </div>
            <div class="col_3 last proj-cart" type="3">
                <div class="image2"><img src="/content/img/catalog/house_3.jpg" alt=""></div>
                <div class="title1"><span style="font-size:18px">Комбинированные дома</span></div>
                <div class="btn2 surround" style="background-color:#3F7B16;  border-radius: 1em;">Подробнее</div>
            </div>
            <div class="clear"></div>
            <div class="col_3 proj-cart" type="4">
                <div class="image2"><img src="/content/img/catalog/house_4.jpg" alt=""></div>
                <div class="title1"><span style="font-size:18px">Бани из бревна</span></div>
                <div class="btn2 surround" style="background-color:#3F7B16;  border-radius: 1em;">Подробнее</div>
            </div>
            <div class="col_3 proj-cart" type="5">
                <div class="image3"><img src="/content/img/catalog/house_5.jpg" alt=""></div>
                <div class="title1"><span style="font-size:18px">SPA-комплексы</span></div>
                <div class="btn3 surround" style="background-color:#3F7B16;  border-radius: 1em;">Подробнее</div>
            </div>
            <div class="col_3 last proj-cart" type="6">
                <div class="image2"><img src="/content/img/catalog/house_6.jpg" alt=""></div>
                <div class="title1"><span style="font-size:18px">Беседки и гаражи</span></div>
                <div class="btn2 surround" style="background-color:#3F7B16;  border-radius: 1em;">Подробнее</div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="hide_line style_0 section section132 " style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title">Типовые и индивидуальные проекты</div>
        <div class="sub_title hidden"></div>
        <div class="text" style="text-align:justify; ">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Сейчас существует множество фирм, которые предлагают большой спектр проектов домов из оцилиндрованного бревна. Но если внимательно присмотреться, то окажется, что многие из них похожи, как близнецы-братья. Это обусловлено тем, что не так много проектных бюро, которые занимаются собственно проектированием. Разработкой проектов с начала и до конца. А основная масса строительных фирм либо покупает эти проекты, либо просто выдают чужие за свои. Сотрудничество с такими фирмами чревато проблемами после постройки дома. Не всегда строители правильно разбираются в сложных проектах и дом потом приходится переделывать.
                В компании СВ-Строй со дня основания, существует собственное проектное бюро, которое занимается разработкой проектов домов из оцилиндрованного бревна. У нас работают самые высококвалифицированные специалисты, которые создают проектную документацию в соответствии с требованиями к строительству в РФ. Все проекты домов и бань из оцилиндрованного бревна точно просчитаны и на ваш участок привозят полный комплект дома, в строгом соответствии с проектом. Никакие отклонения не допустимы.
                На нашем сайте вы найдете более 500 проектов домов и бань, выполненных в нашем проектном бюро, которые помогут определиться в Ваших предпочтениях. Вы найдете здесь проект дома из оцилиндрованного бревна на любой вкус и финансовые возможности.
                &nbsp;&nbsp;&nbsp;&nbsp;Кроме того, мы можем разработать индивидуальный проект специально под ваши желания или доработать стандартный, под ваши требования.
                Компания СВ-Строй является лидером в сфере проектирования домов и бань из оцилиндрованного бревна.
            </p>
        </div>
    </div>
</div>