@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line section transparent_ico section128" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Проекты деревянных домов и бань </div>
        <div class="sub_title">гаражи, беседки и малые формы</div>
        @Html.Partial("~/Views/Shared/_CatalogPartial.cshtml")
    </div>
    <div class="clear"></div>
</div>

<input type="hidden" class="page-name" value="Проекты" />
<div class="hide_line style_0 section section132 " style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="row" style="margin-bottom:40px;">
            <div class="title">Строительство домов и бань из дерева под ключ</div>
            <div class="sub_title">Технологии строительства</div>
            <div class="text" style="text-align:justify; ">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;Деревянный дом – это такое место, где тепло печи и аромат древесины создают атмосферу неповторимого уюта и полного расслабления. Компания «СВ-СТРОЙ» специализируется на строительстве деревянных домов и бань по типовым и индивидуальным проектам.
                    В нашей компании Вы можете заказать строительство деревянного дома или бани по одной из следующих технологий:
                </p>
                <ul type="disc">
                    <li><strong>Из клееного или профилированного бруса.</strong> Материал идеально подходит для строительства загородного дома – он надежно удерживает тепло, не боится перепадов температур, не сыреет и не растрескивается.</li>
                    <li><strong>Из оцилиндрованного бревна.</strong> Деревянные дома из бревна имеют стильный и привлекательный внешний вид, практичны, возводятся в короткие сроки, и при этом имеюют доступную стоимость.</li>
                </ul>
                <p>
                    Для финишной отделки домов применяются самые современные негорючие и не поддающиеся гниению межвенцовые утеплители на синтетической основе, которые сохраняют форму и не деформируются во время усадки дома. При внешней отделке деревянных стен сруба применяются современные защитные масла, герметизирующие средства, и технологии изготовления обсадных коробок, что позволяет существенно продлить срок службы и повысить комфорт пребывания в деревянном доме от компании ПСК «СВ-СТРОЙ».
                </p>
            </div>
        </div>
        <div class="row" style="margin-bottom:40px;">
            <div class="title">Типовые и индивидуальные проекты</div>
            <div class="text" style="text-align:justify; ">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;Сейчас существует множество фирм, которые предлагают большой спектр проектов домов из оцилиндрованного бревна. Но если внимательно присмотреться, то окажется, что многие из них похожи, как близнецы-братья. Это обусловлено тем, что не так много проектных бюро, которые занимаются собственно проектированием. Разработкой проектов с начала и до конца. А основная масса строительных фирм либо покупает эти проекты, либо просто выдают чужие за свои. Сотрудничество с такими фирмами чревато проблемами после постройки дома. Не всегда строители правильно разбираются в сложных проектах и дом потом приходится переделывать.
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;В компании «СВ-СТРОЙ» со дня основания, существует собственное проектное бюро, которое занимается разработкой проектов домов из оцилиндрованного бревна. У нас работают самые высококвалифицированные специалисты, которые создают проектную документацию в соответствии с требованиями к строительству в РФ. Все проекты домов и бань из оцилиндрованного бревна точно просчитаны и на ваш участок привозят полный комплект дома, в строгом соответствии с проектом. Никакие отклонения не допустимы.
                </p>
                <p>
                    На нашем сайте вы найдете более 50 проектов домов и бань, выполненных в нашем проектном бюро, которые помогут определиться в Ваших предпочтениях. Вы найдете здесь проект дома из оцилиндрованного бревна на любой вкус и финансовые возможности.
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;Кроме того, мы можем разработать индивидуальный проект специально под ваши желания или доработать стандартный, под ваши требования.
                    Компания «СВ-СТРОЙ» является лидером в сфере проектирования домов и бань из оцилиндрованного бревна.
                </p>
            </div>
        </div>
        <div class="row" style="margin-bottom:40px;">
            <div class="title">Типы деревянных домов</div>
            <div class="text" style="text-align:justify; ">
                Сегодня деревянное строительство становится все более популярным у заказчиков. И это неудивительно, ведь натуральная древесина — экологически прочный и экономически выгодный материал, который может похвастаться также хорошими теплоизоляционными свойствами и относительной простотой обработки. Существуют различные конструкции деревянных домов, которые различаются как видом используемой древесины, так и технологией возведения стен.<br />
                Основные типы деревянных домов<br />
                В настоящее время выделяют следующие типы деревянных строений:<br />
                • каркасные дома. Хотя для этого используется общий термин, за ним скрываются сразу две разные технологии — так называемые канадские и финские дома. Такие названия связаны со страной происхождения технологии. Хотя оба варианта предполагают использование метода "пирога" для устройства стен: это деревянный каркас, сложенный из балок и брусьев разного сечения и отделанный облицовочным материалом как снаружи (например, вагонкой), так и внутри (гипсокартоном, под которым находится слой утеплителя);<br />
                • из профилированного бруса. Это наиболее распространенный тип домов. Хотя строительство обходится заметно дороже, чем при использовании оцилиндрованного бревна, сам брус стоит дешевле, так что с экономической точки зрения такой выбор оправдан. Брус представляет собой заготовку прямоугольного или квадратного сечения, чаще всего — из хвойных пород древесины;<br />
                • из оцилиндрованного бревна. Это — традиционный для нашей страны вариант. При этом современные технологии позволили сделать процесс строительства менее трудоемким, поскольку самые сложные процедуры обработки древесины выполняются еще на этапе производства;<br />
                • из клееного бруса. Хотя такие постройки обходятся дороже, чем дома из обычного бруса, они обладают еще более респектабельным внешним видом и позволяют обойтись без дополнительной отделки;<br />
                • из бревен ручной рубки. Это наиболее дорогой вид деревянного строительства, который требует больше времени. Тем не менее, именно в этом случае можно раскрыть все свойства натуральной древесины.<br />
                Выбор конкретного типа дома осуществляется с учетом всех его положительных и отрицательных сторон.<br />
                Преимущества и недостатки разных типов деревянных домов<br />
                У каждого из этих вариантов есть свои достоинства и недостатки. Например, дома из обыкновенного бруса возводятся быстро, и сам материал стоит недорого. Но у бруса отсутствует так называемый тепловой замок, такой дом может продувать, поэтому он нуждается в дополнительном утеплении, а это — лишние затраты.<br />
                Преимуществом каркасного дома является то, что работы можно проводить в любое время года. Кроме того, используемые при этой технологии конструкции позволяют прятать коммуникации в стены дома. Недостатком же является использование большого количества синтетических материалов, что затрудняет воздухо- и влагообмен с внешней средой.<br />
                Главным преимуществом строительства из оцилиндрованного бревна является то, что современные технологии позволяют изготавливать бревна больших диаметров, что значительно расширяет их конструктивные возможности. Но такие дома дают неравномерную усадку, так после окончания строительства нужно подождать еще около полугода до начала внутренних отделочных работ и тем более — переезда в новый дом.<br />
                Клееный брус обладает всеми достоинствами оцилиндрованного бревна. Кроме того, за счет особой технологии изготовления он крепче натурального материала и практически не дает усадки. Однако стоит этот брус достаточно дорого — строительство будет стоить в два — три раза больше.<br />
                Что касается домов из бревен ручной рубки, то эти строения позволяют создать внутри оптимальный микроклимат, они не нуждаются в дополнительном утеплении и отделке. Но и строительство в этом случае отнимает больше времени.<br />
            </div>
        </div>
        <div class="row" style="margin-bottom:40px;">
            <div class="title">Преимущества сотрудничества с компанией «СВ-СТРОЙ»</div>
            <div class="text" style="text-align:justify; ">
                <ul>
                    <li>Возведение дома в короткие сроки – от 1 до 3 месяцев. </li>
                    <li>Строительство в любой сезон. </li>
                    <li>Более 50 типовых проектов площадью от 84 м², возможность внесения изменений в зависимости от пожеланий заказчика, разработка авторского проекта. </li>
                    <li>Продуманные эргономичные планировки.</li>
                    <li>Экологически чистые современные материалы.</li>
                    <li>Длительная гарантия.</li>
                </ul>
                <p>
                    Приезжайте к нам в офис – и наши менеджеры помогут вам выбрать и заказать наиболее подходящий проект деревянного дома.
                </p>
            </div>
        </div>
    </div>
</div>