@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line section transparent_ico section128" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Проекты деревянных домов и бань </div>
        <div class="sub_title">гаражи, беседки и малые формы</div>
        @Html.Partial("~/Views/Shared/_CatalogPartial.cshtml")
    </div>
    <div class="clear"></div>
</div>

<div class="hide_line style_0 section section132 " style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="row" style="margin-bottom:40px;">
            <div class="title">Строительство домов и бань из дерева под ключ</div>
            <div class="sub_title">Технологии строительства</div>
            <div class="text" style="text-align:justify; ">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;Деревянный дом – это такое место, где тепло печи и аромат древесины создают атмосферу неповторимого уюта и полного расслабления. Компания «СВ-СТРОЙ» специализируется на строительстве деревянных домов и бань по типовым и индивидуальным проектам.
                    В нашей компании Вы можете заказать строительство деревянного дома или бани по одной из следующих технологий:
                </p>
                <ul type="disc">
                    <li><strong>Из клееного или профилированного бруса.</strong> Материал идеально подходит для строительства загородного дома – он надежно удерживает тепло, не боится перепадов температур, не сыреет и не растрескивается.</li>
                    <li><strong>Из оцилиндрованного бревна.</strong> Деревянные дома из бревна имеют стильный и привлекательный внешний вид, практичны, возводятся в короткие сроки, и при этом имеюют доступную стоимость.</li>
                </ul>
                <p>
                    Для финишной отделки домов применяются самые современные негорючие и не поддающиеся гниению межвенцовые утеплители на синтетической основе, которые сохраняют форму и не деформируются во время усадки дома. При внешней отделке деревянных стен сруба применяются современные защитные масла, герметизирующие средства, и технологии изготовления обсадных коробок, что позволяет существенно продлить срок службы и повысить комфорт пребывания в деревянном доме от компании ПСК «СВ-СТРОЙ».
                </p>
            </div>
        </div>
        <div class="row" style="margin-bottom:40px;">
            <div class="title">Типовые и индивидуальные проекты</div>
            <div class="text" style="text-align:justify; ">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;Сейчас существует множество фирм, которые предлагают большой спектр проектов домов из оцилиндрованного бревна. Но если внимательно присмотреться, то окажется, что многие из них похожи, как близнецы-братья. Это обусловлено тем, что не так много проектных бюро, которые занимаются собственно проектированием. Разработкой проектов с начала и до конца. А основная масса строительных фирм либо покупает эти проекты, либо просто выдают чужие за свои. Сотрудничество с такими фирмами чревато проблемами после постройки дома. Не всегда строители правильно разбираются в сложных проектах и дом потом приходится переделывать.
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;В компании «СВ-СТРОЙ» со дня основания, существует собственное проектное бюро, которое занимается разработкой проектов домов из оцилиндрованного бревна. У нас работают самые высококвалифицированные специалисты, которые создают проектную документацию в соответствии с требованиями к строительству в РФ. Все проекты домов и бань из оцилиндрованного бревна точно просчитаны и на ваш участок привозят полный комплект дома, в строгом соответствии с проектом. Никакие отклонения не допустимы.
                </p>
                <p>
                    На нашем сайте вы найдете более 50 проектов домов и бань, выполненных в нашем проектном бюро, которые помогут определиться в Ваших предпочтениях. Вы найдете здесь проект дома из оцилиндрованного бревна на любой вкус и финансовые возможности.
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;Кроме того, мы можем разработать индивидуальный проект специально под ваши желания или доработать стандартный, под ваши требования.
                    Компания «СВ-СТРОЙ» является лидером в сфере проектирования домов и бань из оцилиндрованного бревна.
                </p>
            </div>
        </div>
        <div class="row" style="margin-bottom:40px;">
            <div class="title">Преимущества сотрудничества с компанией «СВ-СТРОЙ»</div>
            <div class="text" style="text-align:justify; ">
                <ul>
                    <li>Возведение дома в короткие сроки – от 1 до 3 месяцев. </li>
                    <li>Строительство в любой сезон. </li>
                    <li>Более 50 типовых проектов площадью от 84 м², возможность внесения изменений в зависимости от пожеланий заказчика, разработка авторского проекта. </li>
                    <li>Продуманные эргономичные планировки.</li>
                    <li>Экологически чистые современные материалы.</li>
                    <li>Длительная гарантия.</li>
                </ul>
                <p>
                    Приезжайте к нам в офис – и наши менеджеры помогут вам выбрать и заказать наиболее подходящий проект деревянного дома.
                </p>
            </div>
        </div>
    </div>
</div>