@using Models

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

@Html.Partial("~/Views/Shared/_ContactPartial.cshtml")

<div class="hide_line style_0 section section132 " style="background-color:#ffffff;">
    <div class="section_inner">
        <a name="showtour"></a>
        <div class="title">Посмотреть построенный дом</div>
        <div class="text" style="text-align:justify; ">
            <p>
                Мы с радостью хотим пригласить Вас посмотреть наши самые популярные проекты домов из оцилиндрованного бревна, оценить качество строительства деревянных домов,
                и просто приятно провести время за городом в коттеджном поселке «Сосновые Берега» на Горьковском шоссе, где наша Компания является генеральным подрядчиком.
                (<a href="https://www.s-berega.ru/contacts/address/" target="_blank">схема проезда</a>)
            </p>
            <p>
                Записаться на просмотр Вы можете по телефону <a href="tel:+74957838389" style="color:#000;">+7(495)783-83-89</a> 
                или воспользоваться <a class="btn_recall">формой обратной связи</a>
            </p>
        </div>
        <div class="images">
            @Html.Partial("~/Views/Shared/_SampleImagePartial.cshtml", new SampleImageModel() { Name = "/content/img/s-berega.jpg" })
            @Html.Partial("~/Views/Shared/_SampleImagePartial.cshtml", new SampleImageModel() { Name = "/content/img/s-berega1.jpg" })
            @Html.Partial("~/Views/Shared/_SampleImagePartial.cshtml", new SampleImageModel() { Name = "/content/img/s-berega2.jpg" })
        </div>
    </div>
</div>
