
@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="size_450x350 hide_line section section126" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Кредитные программы</div>
        <div class="sub_title">Дом в кредит это просто</div>
        <div class="text">
            <img style="width:100%;" src="~/Content/img/credit-loko.jpg" />
        </div>
    </div>
</div>

