
@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title"><h2>Документы</h2></div>
        <div class="text" style="text-align:justify; ">
            <div class="text" style="text-align:left;width:fit-content;margin:auto; ">
                <div>
                    <i class="fa fa-file-text" style="font-size:24px;" aria-hidden="true"></i>
                    <a href="~/Content/docs/perechen_meropriyatiy.PDF" target="_blank">Перечень рекомендуемых мероприятий по улучшению охраны труда</a>
                </div>
                <br />
                <div>
                    <i class="fa fa-file-text" style="font-size:24px;" aria-hidden="true"></i>
                    <a href="~/Content/docs/svodnaya_vedomost.pdf" target="_blank">Сводная ведомость результатов проверки охраны труда</a>
                </div>
            </div>
        </div>
            <br />
        </div>
</div>
