@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<script src="/content/js/jquery.waterwheelCarousel.js"></script>
<link rel="stylesheet" href="/content/css/carusel/jquery.carousel-3d.default.css">

<script type="text/javascript">
         $(window).load(function () {
             var c0 = initCarousel("#carousel");
             var c1 = initCarousel("#carousel1");

             $('.prev').bind('click', function () {
                 var carousel = $(this).parent().attr("numb");
                eval(carousel+ '.prev()');
                return false
            });

            $('.next').bind('click', function () {
                var carousel = $(this).parent().attr("numb");
                eval(carousel + '.next()');
                return false;
            });
         });

         function initCarousel(id) {
             return $(id).waterwheelCarousel({
                 flankingItems: 3,
                 forcedImageWidth: 550,
                 forcedImageHeight: 400,
                 movingToCenter: function ($item) {
                     $('#callback-output').prepend('movingToCenter: ' + $item.attr('id') + '<br/>');
                 },
                 movedToCenter: function ($item) {
                     $('#callback-output').prepend('movedToCenter: ' + $item.attr('id') + '<br/>');
                 },
                 movingFromCenter: function ($item) {
                     $('#callback-output').prepend('movingFromCenter: ' + $item.attr('id') + '<br/>');
                 },
                 movedFromCenter: function ($item) {
                     $('#callback-output').prepend('movedFromCenter: ' + $item.attr('id') + '<br/>');
                 },
                 clickedCenter: function ($item) {
                     $('#callback-output').prepend('clickedCenter: ' + $item.attr('id') + '<br/>');
                 }
             });
         };
</script>


<div class="size_450x350 hide_line section section126" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title" style="font-size:38px;margin-bottom:40px;">Коллекция построенных объектов</div>
        <div class="title">Дома из оцилиндрованного бревна</div>
        <div class="sub_title hidden"></div>
        <div class="text" style="text-align:center; ">
            <div id="carousel">
                <img src="/content/img/gallery/1/1.jpg" alt="" />
                <img src="/content/img/gallery/1/2.jpg" alt="" />
                <img src="/content/img/gallery/1/3.jpg" alt="" />
                <img src="/content/img/gallery/1/4.jpg" alt="" />
                <img src="/content/img/gallery/1/5.jpg" alt="" />
                <img src="/content/img/gallery/1/6.jpg" alt="" />
                <img src="/content/img/gallery/1/7.jpg" alt="" />
                <img src="/content/img/gallery/1/8.jpg" alt="" />
            </div>
            <div class="nav" numb="c0">
                <a href="#" class="prev">Назад</a> | <a href="#" class="next">Вперед</a>
            </div>
        </div>
    </div>
</div>

<div class="size_450x350 hide_line section section126" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Гаражи и беседки</div>
        <div class="sub_title hidden"></div>
        <div class="text" style="text-align:center; ">
            <div id="carousel1">
                <img src="/content/img/gallery/2/1.jpg" alt="" />
                <img src="/content/img/gallery/2/2.jpg" alt="" />
                <img src="/content/img/gallery/2/3.jpg" alt="" />
                <img src="/content/img/gallery/2/4.jpg" alt="" />
                <img src="/content/img/gallery/2/5.jpg" alt="" />
                <img src="/content/img/gallery/2/6.jpg" alt="" />
                <img src="/content/img/gallery/2/7.jpg" alt="" />
                <img src="/content/img/gallery/2/8.jpg" alt="" />
            </div>
            <div class="nav" numb="c1">
                <a href="#" class="prev">Назад</a> | <a href="#" class="next">Вперед</a>
            </div>
        </div>
    </div>
</div>
