@using Helpers
@using Models

@model Tuple<int[], string>

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<script src="/content/js/jquery.waterwheelCarousel.js"></script>
<link rel="stylesheet" href="/content/css/carusel/jquery.carousel-3d.default.css">

<input type="hidden" class="page-name" value="Портфолио" />
<div class="hide_line section transparent_ico section128" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">@Model.Item2</div>
    </div>
</div>
    
@foreach (var item in Model.Item1)
{
    @Html.Partial("~/Views/Shared/_GalleryPartial.cshtml", item)
}


            @*<div class="hide_line section section143" style="background-color:#FFFFFF;">
                    <div class="section_inner">
                        <div class="title title-gallery">Еще больше фотографий<br></div>
                        <div>
                            <a href="https://www.instagram.com/psk_sv_stroy/" target="_blank"><img style="width:100%" src="~/Content/img/insta.jpg" /></a>
                        </div>
                    </div>
                </div>*@

