
@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title"><h2>Партнеры</h2></div>
        <div>
            <div class="row">
                <div style="display:inline-block;margin:15px;">
                    <a href="http://ecologyhouses.ru/registr/" target="_blank"><img src="~/Content/img/partners/ecosouz.jpg" /></a>
                </div>
                <div style="display:inline-block;margin:15px;">
                    <a href="https://unikma.ru/roofing_firm/build/builders/finde/sv-stroy/" target="_blank"><img src="~/Content/img/partners/unikma.jpg" /></a>
                </div>
                <div style="display:inline-block;margin:15px;">
                    <img src="~/Content/img/partners/millenium.jpg" />
                </div>
            </div>
            <div class="row">
                <div style="display:inline-block;margin:15px;">
                    <img src="~/Content/img/partners/allpools.jpg" />
                </div>
                <div style="display:inline-block;margin:15px;">
                    <a href="https://www.ruswest.ru/" target="_blank"><img src="~/Content/img/partners/ruswest.gif" /></a>
                </div>
                <div style="display:inline-block;margin:15px;">
                    <img src="~/Content/img/partners/viatskiydom.jpg" />
                </div>
            </div>
            <div class="row">
                <div style="display:inline-block;margin:15px;">
                    <img src="~/Content/img/partners/rovaniemi.jpg" />
                </div>
            </div>
        </div>
        <br />
    </div>
</div>
