
@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}


<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title"><h1>Стоимость строительства деревянных домов</h1></div>
        <div class="text" style="text-align:justify; ">
            Какова стоимость строительства деревянного коттеджа? Этот вопрос посещает очень многих, собирающихся начать стройку. Рост цен на жилье заставляет задуматься людей об экономической выгоде вложения финансовых ресурсов. Приобретение квартиры или готового коттеджа оказывается дороже, чем строительство собственного деревянного дома. Конечно же, человек самостоятельно проводит выбор варианта деревянного дома после изучения рынка и предложений. В настоящее время, существующая практика говорит о том, что приемлемые цены и высокое качество присуще характерно для домов, материалом застройки которого является оцилиндрованное бревно. Материал представляет собой ровный ствол, обработанный специальным инструментом. Данный строительный материал проходит механическую обработку на станках, получая бревна стандартной длины. После подобной обработки остается сердцевина, обладающая необходимыми прочными и экологическими качествами. Для оцилиндрованного бревна присуще эффективная фильтрация воздуха, высокая теплоизоляция. Построившие деревянные дома, а также те, кто только начинают строительство, становятся обладателями привлекательных, изящных и красивых коттеджей.<br />
            Строительство деревянного коттеджа на каркасных конструкциях будет стоить несколько дешевле, чем дом из оцилиндрованных бревен. Разница в цене может достигнуть 20%. Данный тип деревянного дома является самым дешевым, но не всегда это будет оптимальным решением. Решив выбрать подобный тип коттеджа, надо быть готовым к тому, что стены дома будут выглядеть в форме «сэндвич-панелей». Данная конструкция не обеспечивает должного комфорта и нуждается в дополнительных работах по наружной и внутренней отделке, а также устройстве пароизоляции.<br />
            Многие выбирают для строительства вариант коттеджа, в основу сборки которого входит цельный или клееный брус. Но следует понимать, что такой домик стоить будет дороже примерно на 15%, чем коттедж из оцилиндровки. По своим техническим характеристикам дом будет также хорош и комфортен.<br />
            К самым дорогостоящим деревянным постройкам относятся дома из цельных бревен, собранные вручную. Подобное строительство считается одним из самых трудоемких и длительных. Без квалифицированных рабочих такой дом самостоятельно не осилить. Стоимость строительных материалов составит львиную долю затрат на всю стройку. Понимание стоимости строительства появится после точного расчета необходимых материалов, определить которые могут профессиональные проектировщики. В нынешнее время создана большая база типовых проектов коттеджей с точной раскладкой материалов. Опытные строители используют во время сборки бревенчатого дома бревна, которые заготовили в зимний период, что гарантирует отсутствие в них насекомых и вредных микроорганизмов. Такие бревна считают более сухими и прочными, чем дерево, заготовленное летом. У зимних бревен и цена будет более высокая.<br />
            Наиболее востребованы для строительства деревянных домов или коттеджей бревна, имеющие естественную влажность. Влажность постепенно выходит из древесины в период эксплуатации. Происходит уплотнение древесины и, как следствие, усиливается прочность материала. Сушку бревен, обычно, осуществляют в случаях строительства деревянных домов по индивидуальному проекту, учитывая все требования заказчика. Оцилиндрованные бревна, прошедшие процесс просушки, имеют более высокую стоимость, чем древесина с естественной влажностью.<br />
            Применение стандартного оцилиндрованного бруса в момент строительных работ имеет массу преимуществ. Выбирая материал для деревянного дома, следует тщательно взвесить положительные и отрицательные стороны применения данного типа древесины и правильно оценить свои финансовые возможности.<br />

        </div>

        <br />
    </div>
</div>

@*<div class="size_450x350 hide_line section section126" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Стоимость строительства деревянных домов</div>
        <div class="sub_title">Цена формируется исходя из следующих показателей</div>
        <div class="text">
            <table style="width:100%;">
                <tr>
                    <td rowspan="2" class="title1" style="width:100px;">Фундамент</td>
                    <td>- монолитный ленточный малозаглубленный по буронабивным сваям</td>
                </tr>
                <tr>
                    <td>- винтовые сваи диаметром 133 мм.</td>
                </tr>

                <tr>
                    <td rowspan="3" class="title1">Материал стен</td>
                    <td>- оцилиндрованное бревно диаметром 20 - 28 мм.</td>
                </tr>
                <tr>
                    <td>- клееный брус сечением 160х180 мм., 185х220 мм.</td>
                </tr>
                <tr>
                    <td>- профилированный брус естественной влажности сечением 150х150 мм.</td>
                </tr>

                <tr>
                    <td rowspan="2" class="title1">Кровля</td>
                    <td>- металлочерепица, вентилируемое подкровельное пространство с гидроизоляцией</td>
                </tr>
                <tr>
                    <td>- битумная черепица по сплошному настилу из OSB плит</td>
                </tr>
            </table>
            <br />
        </div>
    </div>
</div>*@
