
@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="size_450x350 hide_line section section126" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Стоимость строительства деревянных домов</div>
        <div class="sub_title">Цена формируется исходя из следующих показателей</div>
        <div class="text">
            <table style="width:100%;">
                <tr>
                    <td rowspan="2" class="title1" style="width:100px;">Фундамент</td>
                    <td>- монолитный ленточный малозаглубленный по буронабивным сваям</td>
                </tr>
                <tr>
                    <td>- винтовые сваи диаметром 133 мм.</td>
                </tr>

                <tr>
                    <td rowspan="3" class="title1">Материал стен</td>
                    <td>- оцилиндрованное бревно диаметром 20 - 28 мм.</td>
                </tr>
                <tr>
                    <td>- клееный брус сечением 160х180 мм., 185х220 мм.</td>
                </tr>
                <tr>
                    <td>- профилированный брус естественной влажности сечением 150х150 мм.</td>
                </tr>

                <tr>
                    <td rowspan="2" class="title1">Кровля</td>
                    <td>- металлочерепица, вентилируемое подкровельное пространство с гидроизоляцией</td>
                </tr>
                <tr>
                    <td>- битумная черепица по сплошному настилу из OSB плит</td>
                </tr>
            </table>
            <br />
        </div>
    </div>
</div>
