
@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<script>
    $(document).ready(function () {

        $('body').on('click', '.service-cart', function () {
            var id = $(this).attr('item');
            if (id && id.length > 0) {
                window.location.href = "service/" + id;
            }
        });

    });
</script>

<input type="hidden" class="page-name" value="Услуги" />
<div class="hide_line section transparent_ico section128" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Наши услуги</div>
        <div class="sub_title"></div>
        <div class="arr1">
            <div class="col_3 proj-cart service-cart" item="1">
                <div class="image1"><img src="/content/img/architect.jpg" alt=""></div>
                <div class="title1"><span style="font-size:18px">Архитектурное проектирование и дизайн</span></div>
                <div class="btn1 surround" style="background-color:#3F7B16;  border-radius: 1em;"><a href="service/1">Подробнее</a></div>
            </div>
            <div class="col_3 proj-cart service-cart" item="2">
                <div class="image2"><img src="/content/img/building.jpg" alt=""></div>
                <div class="title1"><span style="font-size:18px">Строительство бревенчатых домов</span></div>
                <div class="btn1 surround" style="background-color:#3F7B16;  border-radius: 1em;"><a href="service/2">Подробнее</a></div>
            </div>
            <div class="col_3 last proj-cart service-cart" item="3">
                <div class="image2"><img src="/content/img/brevno.jpg" alt=""></div>
                <div class="title1"><span style="font-size:18px">Производство оцилиндрованного бревна</span></div>
                <div class="btn1 surround" style="background-color:#3F7B16;  border-radius: 1em;"><a href="service/3">Подробнее</a></div>
            </div>

            <div class="col_3 proj-cart service-cart" item="4">
                <div class="image2"><img src="/content/img/brus-building.jpg" alt=""></div>
                <div class="title1"><span style="font-size:18px">Дома из клееного бруса</span></div>
                <div class="btn1 surround  " style="background-color:#3F7B16;  border-radius: 1em;"><a href="service/4">Подробнее</a></div>
            </div>
            <div class="col_3 proj-cart service-cart" item="5">
                <div class="image3"><img src="/content/img/fund.jpg" alt=""></div>
                <div class="title1"><span style="font-size:18px">Устройство фудаментов</span></div>
                <div class="btn1 surround  " style="background-color:#3F7B16;  border-radius: 1em;"><a href="service/5">Подробнее</a></div>
            </div>
            <div class="col_3 last proj-cart service-cart" item="6">
                <div class="image2"><img src="/content/img/roof.jpg" alt=""></div>
                <div class="title1"><span style="font-size:18px">Кровельные работы</span></div>
                <div class="btn1 surround  " style="background-color:#3F7B16;  border-radius: 1em;"><a href="service/6">Подробнее</a></div>
            </div>

            <div class="col_3 proj-cart service-cart" item="7">
                <div class="image2"><img src="/content/img/isystem.jpg" alt=""></div>
                <div class="title1"><span style="font-size:18px">Инженерные системы и электрика</span></div>
                <div class="btn1 surround  " style="background-color:#3F7B16;  border-radius: 1em;"><a href="service/7">Подробнее</a></div>
            </div>
            <div class="col_3 proj-cart service-cart" item="8">
                <div class="image3"><img src="/content/img/design.jpg" alt=""></div>
                <div class="title1"><span style="font-size:18px">Дизайн интерьеров и отделка под ключ</span></div>
                <div class="btn1 surround  " style="background-color:#3F7B16;  border-radius: 1em;"><a href="service/8">Подробнее</a></div>
            </div>
            <div class="col_3 last proj-cart service-cart" item="9">
                <div class="image2"><img src="/content/img/painting.jpg" alt=""></div>
                <div class="title1"><span style="font-size:18px">Покраска и внешняя отделка домов</span></div>
                <div class="btn1 surround  " style="background-color:#3F7B16;  border-radius: 1em;"><a href="service/9">Подробнее</a></div>
            </div>

            <div class="col_3 proj-cart service-cart" item="10">
                <div class="image2"><img src="/content/img/tehcontrol.jpg" alt=""></div>
                <div class="title1"><span style="font-size:18px">Технический надзор</span></div>
                <div class="btn1 surround  " style="background-color:#3F7B16;  border-radius: 1em;"><a href="service/10">Подробнее</a></div>
            </div>
            <div class="col_3 proj-cart service-cart" item="11">
                <div class="image3"><img src="/content/img/bass.jpg" alt=""></div>
                <div class="title1"><span style="font-size:18px">Строительство бассейнов</span></div>
                <div class="btn1 surround  " style="background-color:#3F7B16;  border-radius: 1em;"><a href="service/11">Подробнее</a></div>
            </div>
            <div class="col_3 last proj-cart service-cart" item="12">
                <div class="image2"><img src="/content/img/green.jpg" alt=""></div>
                <div class="title1"><span style="font-size:18px">Ландшафтный дизайн</span></div>
                <div class="btn1 surround  " style="background-color:#3F7B16;  border-radius: 1em;"><a href="service/12">Подробнее</a></div>
            </div>

            <div class="col_3 proj-cart service-cart" item="13">
                <div class="image2"><img src="/content/img/reconst.jpg" alt=""></div>
                <div class="title1"><span style="font-size:18px">Реконструкция и ремонт</span></div>
                <div class="btn1 surround  " style="background-color:#3F7B16;  border-radius: 1em;"><a href="service/13">Подробнее</a></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

