
@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title"><h2>Наша команда</h2></div>
        <div class="text" style="text-align:justify;">
            "Команда" - это не только громкое слово, а смысл нашей деятельности!
            Только сообщество увлеченных, талантливых и профессиональных людей, может создавать качественные и надежные дома! 
            Только такая команда способна трансформировать традиции и опыт в новые технологии для вашего уюта, комфорта и гармонии. 
            Каждый из профессионалов компании СВ-СТРОЙ, мощно дополняет отлаженный механизм – делая его эфективным и надежным!
        </div>
        <div style="text-align:center;">
            <div class="row">
                <div style="display:inline-block;margin:20px;">
                    <img src="~/Content/img/staff/1.jpg" />
                    <p>Генеральный директор</p>
                    <p><strong>Виталий Степанов</strong></p>
                </div>
                <div style="display:inline-block;margin:20px;">
                    <img src="~/Content/img/staff/2.jpg" />
                    <p>Технический директор</p>
                    <p><strong>Алексей Аникин</strong></p>
                </div>
            </div>
            <div class="row">
                <div style="display:inline-block;margin:20px;">
                    <img src="~/Content/img/staff/3.jpg" />
                    <p>Архитектор</p>
                    <p><strong>Марат Латыпов</strong></p>
                </div>
                <div style="display:inline-block;margin:20px;">
                    <img src="~/Content/img/staff/4.jpg" />
                    <p>Проектировщик</p>
                    <p><strong>Петр Яковлев</strong></p>
                </div>
                <div style="display:inline-block;margin:20px;">
                    <img src="~/Content/img/staff/5.jpg" />
                    <p>Главный инженер</p>
                    <p><strong>Денис Терех</strong></p>
                </div>
            </div>
            <div class="row">
                <div style="display:inline-block;margin:20px;">
                    <img src="~/Content/img/staff/6.jpg" />
                    <p>Прораб</p>
                    <p><strong>Вячеслав Куртанов</strong></p>
                </div>
                <div style="display:inline-block;margin:20px;">
                    <img src="~/Content/img/staff/7.jpg" />
                    <p>Прораб</p>
                    <p><strong>Денис Мирошниченко</strong></p>
                </div>
                <div style="display:inline-block;margin:20px;">
                    <img src="~/Content/img/staff/10.jpg" />
                    <p>Прораб</p>
                    <p><strong>Дмитрий Перзашкевич</strong></p>
                </div>
                @*<div style="display:inline-block;margin:20px;">
                    <img src="~/Content/img/staff/9.jpg" />
                    <p>Прораб</p>
                    <p><strong>Виталий Шевченко</strong></p>
                </div>*@
                <div style="display:inline-block;margin:20px;">
                    <img src="~/Content/img/staff/8.jpg" />
                    <p>Прораб</p>
                    <p><strong>Сергей Зимин</strong></p>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>
