@using Models
@using Helpers

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title"><h1>С чего начать строительство деревянного дома</h1></div>
        <div class="text" style="text-align:justify; ">
            Натуральная древесина уже долгое время считается лучшим материалом для строительства дома. Но тем не менее, возведение здания из дерева – достаточно ответственное занятие, 
            для выполнения которого необходимо, как минимум, иметь представление обо всех необходимых этапах строительства деревянного дома. Изначально нужно выбрать участок под строительство и 
            произвести его оценку. Дабы избежать в дальнейшем появление трещин в помещении и других казусов, требуется проведение инженерно-геологических и геодезических исследований, 
            а после этого получить разрешение на строительство. Особое внимание стоит уделить выбору застройщика, материалу для постройки и проектированию.           
        </div>
        <div class="arr1" style="margin-top: 20px;">
            <img style="width:100%;" src="/Content/img/gallery/1/11.jpg" alt="Фото деревянного дома из бревна"/>
        </div>

        <div class="sub_title line-bottom">Оценка участка</div>
        <div class="text" style="text-align:justify; ">
            Одним из самых ответственных этапов при строительстве деревянного дома является выбор участка, на котором предполагается возвести дом. Важно сделать правильный 
            выбор и далее провести его оценку. Данную процедуру имеет право проводить Федеральное агентство кадастра объектов и земельных участков, а так же организации, 
            которые получили лицензию на выполнение данной процедуры для разного рода объектов. Оценка участка проводится в данном случае для выяснения стоимости земли. 
            Результат в основном зависит от цен на земельные участки в указанном районе, от его площади и местонахождения.        
        </div>

        <div class="sub_title line-bottom">Инженерно-геологические и геодезические исследования</div>
        <div class="text" style="text-align:justify; ">
            Строительство дома зависит от многих факторов, которые влияют на качество выполненной работы. Именно по этой причине неотъемлемым этапом постройки деревянного дома 
            является инженерно-геологические и геодезические исследования, благодаря которым можно исследовать почву и подобрать необходимый фундамент и материал для постройки дома.
            Если фундамент не будет подобран правильно или указанные исследования вовсе не будут проведены, то имеется риск, что в течение нескольких лет в фундаменте дома появятся трещины. 
            Инженерно-геологические и геодезические исследования участка проходит с помощью инженера и специальной техники. Изначально роют скважины, из которых берется образец почвы на осмотр. 
            Благодаря осмотру можно будет понять тип почвы, степень грунтовых вод, затопляемость территории и сложность рельефа.
        </div>

        <div class="sub_title line-bottom">Разрешение на строительство и другие юридические документы</div>
        <div class="text" style="text-align:justify; ">
            Для постройки индивидуального жилищного строительства необходимо разрешение. Действующим Градостроительным кодексом Российской Федерации (№190-ФЗ) 
            установлен облегченный способ обретения разрешения на постройку. Для получения разрешения необходимо написать заявление в местные органы самоуправления,
            где оно будет рассмотрено в течение 10 дней. К заявлению требуется приложить план участка, документ, доказывающий право собственности, и схему границ. 
            Итак, для полного получения разрешения на строительство требуется:
            <ul>
                <li>
                    Произвести сбор документации на землю
                </li>
                <li>
                    Произвести заказ градостроительного плана земельного участка
                </li>
                <li>
                    После получения градостроительного плана земельного участка, обратиться в специальную компанию и подготовить схему планировочной организации земельного участка
                </li>
                <li>
                    Собрать всю документацию на землю, градостроительный план земельного участка и схему планировочной организации земельного участка и предоставить в администрацию района, 
                    а точнее в отдел архитектуры
                </li>
            </ul>
            При выполнении всего вышеуказанного гарантируется, что отдел архитектуры рассмотрит заявление и предоставит решение по вопросу строительства. 
            Если данное разрешение не будет получено, а дом все же будет построен, то данная постройка является незаконной и подлежит скорейшему сносу.
        </div>

        <div class="sub_title line-bottom">Выбор застройщика</div>
        <div class="text" style="text-align:justify; ">
            После оценки участка, проведения инженерно-геологических и геодезических исследований и получения разрешения на строительство «встает» вопрос: «Какого застройщика выбрать?». 
            Сразу стоит обратить внимание на проекты, которые уже введены в эксплуатацию, на качество работы и материалов. Сроки выполнения так же имеют значение, если застройщик в указанные сроки 
            выполняет свою работу, значит он придерживается высоких стандартов. 
        </div>

        <div class="sub_title line-bottom">Выбор материала строительства</div>
        <div class="text" style="text-align:justify; ">
            Не малое значение имеет материал, из которого будет отстроен деревянный дом. Наиболее популярными вариантами являются дома из клееного бруса, фахверка, 
            оцилиндрованного бревна или просто комбинированный дом из бруса, бревна и керамических блоков.
            Деревянные дома – оптимальный вариант для строительства. Они не вредны для здоровья человека и позволяют сохранить тепло в зимнее время года.
            На данный момент в малоэтажном строительстве популярны дома из клееного бруса. Для любителей классических деревянных домов подойдет возможность возведения дома из оцилиндрованного бревна
            Не смотря на новизну на российском рынке, дома из фахверка становятся все более популярны. Данная технология постройки дома пришла из Германии, где берет свое начало в 15 веке. 
            Именно этот тип конструкции гарантирует устойчивость, прочность и долговечность. В зимнее время года выдерживает даже самую низкую температуру, а летом сохраняет прохладу внутри дома.
            Комбинированные дома – хороший вариант строительства дома для постоянного проживания. Они считаются наиболее удобными для постройки дома со сложным проектированием. Строятся они из бревен, бруса и керамических блоков.
        </div>

        <div class="sub_title line-bottom">Проектирование</div>
        <div class="text" style="text-align:justify; ">
            Перед строительством дома необходимо максимально ответственно подойди к вопросу проектирования. В нашем каталоге представлено несколько готовых стандартных проектов, которые можно 
            изменить и доработать по просьбе клиента. Если Вас не устраивает типовой дом, наши архитекторы разработают индивидуальный проект, с учетом всех Ваших требований и пожеланий.
        </div>

        <div class="arr1" style="margin-top: 20px;">
            <img style="width:100%;" src="/Content/img/gallery/1/12.jpg" alt="Фото деревянного дома из бревна"/>
        </div>

        <div class="title">Деревянный или каменный дом?</div>
        <div class="text" style="text-align:justify; ">
            Потенциальным клиентам строительных компаний перед оформлением договора на постройку жилища необходимо решить для себя вопрос, какому материалу отдать предпочтение – дереву или камню? 
            Оба они обладают весомыми преимуществами, но есть у них и недостатки, о которых должен знать человек, собирающийся строить жилье.
        </div>

        <div class="sub_title line-bottom">Преимущества деревянных домов</div>
        <div class="text" style="text-align:justify; ">
            Низкая теплопроводность древесины обеспечивает высокую сохранность тепла. Стены дома из бруса имеют толщину 15-30 см, тогда как в каменном доме она должна быть не менее 50 см, иначе жилище будет холодным.<br />
            К положительным характеристикам деревянных объектов относится устойчивость к температурным колебаниям. Брус или бревно не будет трескаться от сильных морозов или жары, чего нельзя сказать о камне.<br />
            Высокая горючесть современных деревянных построек – не более чем миф. Инновационные технологии обеспечивают материал пожароустойчивостью. В процессе изготовления брус проходит стадию обработки специальными пропитками, которые снижают горючесть пиломатериала и делают его устойчивым к плесени и грибкам.<br />
            Дерево обладает способностью «дышать», что является естественной системой вентиляции. Внутри комнат достигается оптимальная влажность, что создает идеальный микроклимат и способствует здоровью всех обитателей. К деревянным стенам меньше притягивается пыль, поэтому воздух более чистый, что очень важно для людей, страдающих аллергией.<br />
            Если сооружение выстроено с соблюдением всех технологий, оно будет стоять очень долго (много десятков лет) и «увидит» жизнь нескольких поколений.<br />
            Характер соединения брусьев позволяет конструкции выдерживать значительные нагрузки и сохранять устойчивость к различным колебаниям грунта. О домах из камня этого сказать нельзя.<br />
        </div>

        <div class="sub_title line-bottom">Преимущества каменных домов</div>
        <div class="text" style="text-align:justify; ">
            Использование камня в строительстве позволяет создавать массивные, прочные и привлекательные внешне жилые дома.
            <ul>
                <li>
                    Каменные архитектурные сооружения могут стоять веками, не теряя при этом былой привлекательности.
                </li>
                <li>
                    Еще одно достоинства камня – в процессе возведения конструкции можно придать любую форму, благодаря чему она будет смотреться особенно эффектно.
                </li>
                <li>
                    Абсолютная негорючесть является несомненным плюсом материала.
                </li>
            </ul>
        </div>

        <div class="sub_title line-bottom">Недостатки домов из камня</div>
        <div class="text" style="text-align:justify; ">
            Однако современные люди все чаще отказываются от каменного крова в пользу деревянного. Такое негативное отношение к зданиям из камня обусловлено наличием у них множественных недостатков:
            <ul>
                <li>
                    Во-первых, это очень дорого.
                </li>
                <li>
                    Во-вторых, строительство затягивается надолго, а длительное ожидание не всегда возможно.
                </li>
                <li>
                    В-третьих, сегодня это просто не модно.
                </li>
            </ul>
            Минусы камня можно обнаружить еще на этапе проектирования. Потребность в мощном фундаменте влечет за собой дополнительные финансовые потери. Каменные стены очень медленно нагреваются, поэтому после длительного отсутствия жильцов прогревание становится настоящей проблемой. Комфортная температура достигается лишь на четвертые-пятые сутки.
            В знойные дни объекты из камня сильно накаляются и даже за ночь не успевают остыть, поэтому летом в каменном доме может быть очень жарко. Здесь обязательно придется устанавливать кондиционер.
            Стены каменного здания требуют основательной отделки. Впитывая в себя влагу, со временем камень начинает крошиться, потому для поддержания дома в хорошем состоянии его необходимо чаще ремонтировать.
        </div>

        <div class="sub_title line-bottom">Эстетические плюсы деревянных домов</div>
        <div class="text" style="text-align:justify; ">
            Проживание в деревянном доме положительно сказывается на психоэмоциональном состоянии людей. Запах дерева, его теплота и тактильные ощущения, возникающие при прикосновении к деревянной стене – все это стимулирует внутренний душевный покой.
            Строение, возведенное из профилированного бруса или оцилиндрованного бревна, не требует дополнительной отделки как снаружи, так и внутри. Бревна в натуральном виде смотрятся куда более привлекательнее, но при желании отделку можно сделать в любое время. В этом плане препятствий нет, поскольку в деревянную поверхность легко входят гвозди, саморезы, шурупы.
            Конструкции из бруса или оцилиндрованного бревна отлично вписываются в любой ландшафт и являются достойным украшением местности.
            Человеческая жизнь быстротечна, поэтому хочется, чтобы приятных моментов в ней было намного больше. Полноценный отдых после трудового дня в комфортной обстановке обеспечивает высокую работоспособность на утро и хорошее настроение.
        </div>

        <div class="arr1" style="margin-top: 20px;">
            <img style="width:100%;" src="/Content/img/gallery/1/13.jpg" alt="Фото деревянного дома из бревна" />
        </div>

        <div class="title">Типы и виды деревянных домов</div>
        <div class="text" style="text-align:justify; ">
            Дерево, как строительный материал, обладает целым рядом достоинств, чем и обусловлена высокая популярность таких домостроений у российского потребителя. 
            Сегодня деревянные жилые конструкции бывают нескольких разновидностей, а их классификация происходит по типу материала и способу возведения.
        </div>

        <div class="sub_title line-bottom">Дома из клееного бруса – основные моменты</div>
        <div class="text" style="text-align:justify; ">
            Клееный брус – это материал, изготовленный по особой технологии, которая состоит из нескольких этапов. Сначала лес распиливают на доски одинаковой толщины, потом их сортируют. Доски с сучками проходят дополнительную обработку.
            Доски пропитывают специальными антибактериальными составами, предупреждающими появление плесени и продлевающими срок службы древесины. Далее доски склеивают между собой наружными сторонами внутрь, а распилом наружу, благодаря чему лицевые поверхности получаются идеально ровными и гладкими. Готовый пиломатериал отправляется на просушку.
            Эта технология обеспечивает постройкам из клееного бруса отличные эксплуатационные свойства.
            <ul>
                <li>
                    Они не дают значительной усадки, поэтому хозяева могут въезжать в жилище сразу после его сдачи.
                </li>
                <li>
                    Стены хорошо сохраняют тепло и не требуют декоративной отделки.
                </li>
                <li>
                    Между брусьями отсутствуют щели, поэтому конопатка не потребуется.
                </li>
                <li>
                    Работы осуществляются в минимальные сроки, что обусловлено простотой сборки.
                </li>
                <li>
                    Особняк обладает внешней привлекательностью и безопасен в экологическом отношении.
                </li>
            </ul>
        </div>

        <div class="sub_title line-bottom">Дома из профилированного пиломатериала</div>
        <div class="text" style="text-align:justify; ">
            Среди красивых, современных и быстровозводимых конструкций большой популярностью пользуются проекты из профилированного бруса. Из самого названия понятно, что он имеет профиль, это 
            значительно ускоряет темпы строительства и облегчает сам процесс сборки. Материал, в свою очередь, бывает цельным и клееным. В обоих вариантах присутствует шип и паз, посредством которых и 
            происходит соединение брусьев друг с другом.<br />
            Помимо этого достоинства профилированному брусу присущи и все те, которыми обладает клееный.
            <ul>
                <li>
                    Затраты на утепление сводятся к минимуму.
                </li>
                <li>
                    Можно оставить без декоративной облицовки.
                </li>
                <li>
                    Сборка простая и быстрая.
                </li>
            </ul>
            Перед возведением сначала выставляются опоры, определяются проемы для дверей и окон. В процессе сбора конструктора между венцами прокладывается утеплитель.
            Если пиломатериал не проходил камерную усушку, до проведения отделочных работ нужно выждать несколько месяцев, в течение которых происходит усадка.
            При камерной сушке этого времени не требуется.
        </div>

        <div class="sub_title line-bottom">Дом из оцилиндрованного бревна</div>
        <div class="text" style="text-align:justify; ">
            Оцилиндрованным называется бревно естественной влажности, которое прошло обработку на фрезеровочном или протяжном станке. Принцип протяжного метода состоит в прохождении бревна по ленте протяжного механизма, где оно сразу обрабатывается со всех сторон и одновременно формируется выемка – «чашка».
            Только один минус – станок не способен выровнять естественную кривизну ствола. У строителей в момент сборки возникнут сложности.
            Во время фрезерной обработки бревно чистится поперек волокон, как карандаш в точилке. Форма у него более правильная, чем в предыдущем варианте, но качество шлифовки несколько хуже, к тому же фреза не наносит сложный профиль, узловые соединения нарезаются потом отдельно.
            Постройки из оцилиндрованного бревна выглядят по-особенному привлекательно. Они напоминают деревенские избушки, но только усовершенствованные и стильные. Природная округлая форма бревен свидетельствует о натуральности и экологической безопасности. Фасад можно оставить без отделки, но межвенцовые швы придется законопатить.
        </div>

        <div class="sub_title line-bottom">Отличительные свойства сруба</div>
        <div class="text" style="text-align:justify; ">
            Установка сруба занимает больше времени, нежели зданий из бруса. Но отличные эксплуатационные характеристики и неповторимый колорит особняка стоят ожиданий.
            Срубы «в чашу» или «в лапу» вызывают восторг даже у неискушенного в архитектурном деле человека. Специалисты же знают, что такие коттеджи помимо эстетической привлекательности наделены массой других преимуществ.
            <ul>
                <li>
                    В комнатах присутствует идеальный микроклимат.
                </li>
                <li>
                    Стены «дышат» и впитывают в себя лишнюю влагу.
                </li>
                <li>
                    Низкая теплопроводность гарантирует сохранность тепла даже в те дни, когда на улице стоят лютые морозы.
                </li>
            </ul>
            Учитывая эти качества, владелец зимой экономит на теплоносителях, а летом на системе кондиционирования. Если ухаживать за срубом должным образом, в нем комфортно проживет не одно поколение.
        </div>
        
        <div class="sub_title line-bottom">Комбинированные коттеджи</div>
        <div class="text" style="text-align:justify; ">
            У каждого стройматериала есть свои достоинства и недостатки. Для обеспечения оптимальных эксплуатационных характеристик используют технологию комбинирования стройматериалов разных по структуре, плотности и составу. Дерево сочетают с бетоном, шлакоблоком, кирпичом, пеноблоком.
            В комбинированных проектах один компонент успешно дополняет другой. Суть состоит в следующем: первый этаж наиболее подвержен натискам стихии, поэтому его строят из прочного бетона или кирпича. Здесь комнаты могут быть нежилыми: гараж, сауна, спортивный зал. Второй этаж возводят из массива или любого пиломатериала.
            Такой подход позволяет существенно сэкономить не только на закупке, но и на аренде спецтехники, на оплате труда рабочих. Сегодня существует множество вариантов комбинированных коттеджей, все их отличает практичность и функциональность.
            Окончательная цена любого особняка зависит от нескольких аспектов. Главными здесь являются проект и стройматериал, который заказчик предпочтет выбрать. Полный расчет стоимости сотрудник компании «СВ-Строй» предоставит клиенту после анализа проекта и уточнения некоторых деталей.
        </div>

        <div class="arr1" style="margin-top: 20px;">
            <img style="width:100%;" src="/Content/img/gallery/1/14.jpg" alt="Фото деревянного дома из бревна" />
        </div>

        <div class="title">Климатические факторы и геодезия при строительстве деревянного дома</div>
        <div class="text" style="text-align:justify; ">
            Часто при возведении дома, сталкиваясь с неровными поверхностями, возникает вопрос: «Как правильно расположить дом на участке так, чтобы в дальнейшем не возникли проблем?».
            Не малое значение при выборе материалов для строительства дома имеют климатические факторы. К климатическим факторам относят влажность наружного воздуха, температуру, уровень грунтовых вод, преобладающее направление ветра. Каждый из этих факторов стоит брать во внимание при планировании места строительства деревянного жилья.
            Не менее важным фактором является проведение геодезических работ. Геодезические работы подразделяют на топографическую съемку и исполнительную съемку. Топографическая съемка представляет собой схему, на которой указаны точки расположения участка, ее рельеф, качество грунта, отдаленность от дороги. На основе сделанных исследований в схему здания вносятся какие-либо изменения, даже оптимальное расположение пола над землей вычисляется благодаря топографической съемке. Исполнительная съемка представляет собой работу по благоустройству строительства деревянного здания. То есть проверяются абсолютно все факторы: расположение, безопасность и главное комфортабельность.
        </div>

        <div class="sub_title line-bottom">Необходимость геодезии в строительстве деревянного дома</div>
        <div class="text" style="text-align:justify; ">
            Изначально кажется, что нет необходимости в геодезии и построить дом куда проще без геодезических работ, но это только на первый взгляд. В природе абсолютно ровные участки встречаются крайне редко, какой-нибудь уклон практически всегда присутствует. По этой причине важно расположить жилье так, чтобы вода с верхних участков не подталкивала фундамент. К началу строительства квалифицированным рабочим понадобится информация об особенности местности и рельефа, без данного плана строительство дома практически невозможно. В случае, если геодезические исследования не будут проведены, имеется вероятность быстрого разрушения фундамента, и в последствии всего дома.
        </div>

        <div class="sub_title line-bottom">Учет климатических факторов при строительстве деревянного дома</div>
        <div class="text" style="text-align:justify; ">
            Климатические условия очень важны для возведения дома. Учет данных факторов позволит выбрать материал так, чтобы он был устойчив в климатических особенностях района, в котором планируется возвести жилище. В случае не правильного выбора имеется вероятность столкновения с множественными проблемами через определенное время.
            Например, при построении жилья в северных районах страны стоит учитывать наличие зимой снега, то есть в этих районах важно подобрать правильно фундамент для жилья, он должен быть довольно прочным. При выборе материала для постройки дома стоит задуматься о толщине бруса/бревна и дополнительном утеплении. А так же необходимо вход в помещение расположить с южной стороны, так как южная сторона не так сильно «страдает» от ветра и при снежной погоде вход в помещение не будет занесен снегом.  В южных районах практически не бывает множественных снежных осадков, но наличия ветра и жаркой погоды гарантируется. В этом случае важно подобрать материалы, которые устойчивы к таким погодным условиям. По результатам исследований климатических факторов имеется возможность точно определиться какими параметрами должно обладать стены, фундамент и кровля. Так же, по результатам исследований имеется возможность выбрать тип отопления, который наиболее благоприятен для конкретного помещения.
            Важно напомнить, что при постройке дома из дерева стоит обратить внимание на качество древесины, влажность, породу и возможность усадки сруба для каждого района при строительстве отдельно. В качественной древесине не должно быть гнили и плесени. Правильный подбор необходимых деревянных материалов, с учетом ветровых и других климатических нагрузок, факторов естественного освещения, а также учет формы и назначения дома, гарантирует возведение надежного жилища.
        </div>

        <div class="arr1" style="margin-top: 20px;">
            <img style="width:100%;" src="/Content/img/gallery/1/15.jpg" alt="Фото деревянного дома из бревна" />
        </div>

        <div class="title">Деревянные дома для сезонного и круглогодичного проживания - в чем разница?</div>
        <div class="text" style="text-align:justify; ">
            Когда возникает потребность в новом доме, будущий владелец отвечает самому себе на вопрос: в каких целях планируется использование жилища? Будет ли семья проживать в нем постоянно или приобретение необходимо для временного пребывания, то есть под дачу.
            Ответ этот очень важен, поскольку от него зависит выбор материала, технология и конечная стоимость объекта.
        </div>

        <div class="sub_title line-bottom">Назначение деревянного строения</div>
        <div class="text" style="text-align:justify; ">
            Грамотная планировка внутреннего пространства обеспечит комфортное существование всем членам семьи. Здесь учитывается несколько факторов:
            <ul>
                <li>
                    количество жильцов
                </li>
                <li>
                    предпочтения владельца
                </li>
                <li>
                    частота использования строения (постоянная или сезонная эксплуатация)
                </li>
            </ul>
        </div>

        <div class="sub_title line-bottom">Особенности сезонных объектов и для постоянного проживания</div>
        <div class="text" style="text-align:justify; ">
            Под сезонным подразумевается присутствие в доме в теплое время года. Условно это с апреля по октябрь, но в некоторых регионах диапазон может быть чуть больше или чуть меньше. Все зависит от климата.
            В сезонных постройках отопление, как правило, отсутствует. При необходимости повышения температуры в помещениях владельцы используют электрические обогреватели, камины или простые печи.
            В свою очередь такие объекты классифицируются на:
            <ul>
                <li>
                    обычные
                </li>
                <li>
                    повышенной комфортности
                </li>
                <li>
                    с перспективой использования на постоянной основе
                </li>
            </ul>
            Коттеджи повышенной комфортности – это удобная планировка, санузел, утепленные стены. Строения с перспективой постоянного проживания – это те, которые постепенно усовершенствуются и со временем могут превратиться в полноценное добротное жилище. Поэтому на начальном этапе строительства в такой дом закладываются конструктивные особенности, позволяющие в дальнейшем сделать его добротным.
            В обычных сезонных домиках стены не утеплены, в них может отсутствовать водоснабжение, канализация и прочие удобства, поэтому такой вариант считается экономичным. Если жилье используется только летом или наездами, нет необходимости вкладывать в него огромные средства.
            Объекты для постоянного проживания называются капитальными, в них хозяева живут круглогодично, поэтому жилища отличаются высоким комфортом. В капитальном доме обязательно есть санузел и система вентиляции. Наличие горячей воды в этом случае обязательно. Стены хорошо утеплены, что сокращает теплопотери и позволяет экономить на отоплении.
        </div>


        <div class="sub_title line-bottom">Особенности и отличия временных и капитальных строений</div>
        <div class="text" style="text-align:justify; ">
            Планируя строительство загородного дома для постоянного проживания человек, как правило, отдает предпочтение той местности, где развита инфраструктура, существует транспортная доступность. Основное требование для дачных домиков – обеспечение комфортного микроклимата в теплый сезон.
            Дача не требует заливки мощного фундамента, который является непременным условием капитального строения. От сохранности целостности фундамента зависит долговечность капитального дома. Поэтому наличие системы отведения воды здесь обязательно. Со временем дождевые лужи и снеговые таяния способны разрушить даже очень прочную основу.
            Полы на даче утеплять не имеет смысла, их просто стелют на лаги. А вот чердачное перекрытие следует тщательно теплоизоировать, чтобы в жаркие дни в помещениях не происходил перегрев.
            В дачную постройку не обязательно подводить газопровод. Для приготовления пищи подойдет баллонный газ или электроплита. Летом еду можно готовить на садовых печах, мангалах или тандырах.
            Поскольку дача зимой часто остается без присмотра, счищать регулярно снег с крыши не представляется возможным. Наличие толстого снежного покрова на крыше приведет к ее протечке и повреждению водосточной системы. Чтобы избежать подобного, не следует планировать временное жилище со сложной кровлей и правильно рассчитать угол наклона. В этом случае снег будет сходить с крыши под действием собственного веса.
            Система канализации и водопровода в капитальном строении должна залегать на глубине, достаточной для предотвращения «размораживания» труб в зимний период. Иногда их обеспечивают кабельным обогревом. Дома для постоянного проживания больше по площади, чаще всего в них имеются дополнительные подземные сооружения (подвал, котельная).
            Еще на этапе проектирования архитектор учитывает равномерность распределения нагрузки на все несущие конструкции. Проект создается исходя из климатических и геодезических особенностей местности. Фасад – это лицо любого здания, которое при использовании дерева может оставаться без отделки. Однако современные варианты декорирования фасадов придают дому не только дополнительную привлекательность, но и продлевают срок его службы.
            Для капитального строения приемлема кровля любой конструкции, главное, чтобы она была надежной, теплой и долговечной. Обслуживание крыши не должно быть сопряжено с неудобствами, это тоже нужно учесть. Помимо доступа снаружи, необходимо обеспечить его и изнутри дома.
            При создании индивидуального проекта клиент имеет возможность предусмотреть все важные моменты и скорректировать детали, чего нереально осуществить при возведении типовых построек. Компания «СВ-Строй» предлагает заказчику строительство по собственному архитектурному плану или возможность внести изменения в те проекты, которые уже существуют в каталоге.
        </div>
        <br />

    </div>
</div>

