@using Models
@using Helpers

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title">Особенности производства клееного бруса</div>
        <div class="text" style="text-align:justify; ">
            Весь технологический процесс разбивается на ряд этапов, основными из которых можно считать:
            <p>•	Выбор исходного пиломатериала, его сортировка, первичная сушка и механическая обработка. Чаще всего для производства рассматриваемого материала используются хвойные пиломатериалы. Сырьё сортируется с учётом размером, задаваемым проектом будущей конструкции, а также потерь части материалов в процессе технологической обработки. Сегодня производят брус, склеенный из ламелей одного или двух типов хвойных пиломатериалов, а также изделия из трёх различных видов древесины. Последнее время всё активнее используется клееный брус из каштана, бука или дуба.</p>
            <p>•	Первичный отбор полученного материала (ламелей). Ламели получают распиловкой заготовок на ленточных или дисковых станках. Осуществление продольной распиловки ствола позволяет снять «напряжение» в дереве, которое возникает вследствие существующих связей между, имеющимися у каждого дерева, годовыми кольцами. Если их не разорвать, то весьма высока вероятность скручивания древесины при сушке.</p>
            <p>•	Сушка в специальных камерах. Искусственная сушка позволяет заготовке равномерно просохнуть по всей длине. Поэтому клееный брус на выходе имеет влажность, не превышающую 10%, чего невозможно добиться с брусом из массива или бревном.Это обеспечивает минимальную усадку сруба из подобных материалов, ≤ 1%. Это существенно снижает общие сроки выполнения работ. При готовом фундаменте сруб можно возвести за три-четыре недели.</p>
            <p>•	Дерево, прошедшее термообработку, имеет значительно меньшую теплоёмкость. Уплотнение после подобной обработки поверхности древесины сокращает гигроскопичность материала. Уничтожаются все болезнетворные споры, имевшиеся в древесине (бактерии, грибки) и происходит разложение древесных сахаров.</p>
            <p>•	Калибровка, дефектоскопия, сращивание по длине, четырёхсторонняя шлифовка. Просушенные ламели калибруются, затем проходят дефектную выборку. Выявленные места, имеющие дефекты, вырезаются. После этого ламели поступают на торцевое сращивание, простругиваются с 4 сторон и шлифуются, приобретая требуемую форму.</p>
            <p>•	Склеивание. Этот процесс выполняется с использованием гидравлического пресса и клея, специальных марок (паропроницаемого, позволяющего дереву «дышать»). При склеивании, ламели собираются в блок с разнонаправленными направлениями волокон. Это минимизирует коробление и увеличивает прочность материала. Используемый клей абсолютно безопасен для человека.</p>
            <p>•	Профилирование и торцевание. На данном этапе обработки заготовки режутся нужные гребни, пазы и производятся выборки. Затем проходит торцевание бруса по нужному размеру. От качества выполнения данного этапа зависит, в дальнейшем, плотность соединение деталей, а значит герметичность конструкции, её влагонепроницаемость и теплозащитные свойства. Для сравнения – клееный брус толщиной в 18 см аналогичен по последнему показателю с 50 см кирпичной стеной.</p>
            <p>•    Технология допускает изготовление бруса любой длины. На практике её ограничивают 14 м, что обеспечивает удобство транспортировки готовых изделий автомобильным транспортом.</p>
            <p>•	Изготовление конкретной детали. Завершающий этап, когда из клееного бруса производят балки для перекрытий, брус для стен, стропильные ноги и т.п.</p>
            <p>•	Специальная обработка. Готовые материалы пропитываются антипиренами и антисептическими составами. Сохранив все положительные свойства природной древесины, клееный брус, после этого, становится более стойким к воздействию открытого огня, поражению насекомыми, грызунами, и гораздо меньше подвержен гниению.</p>
        </div>

        <div class="sub_title line-bottom">Почему клееный брус считается дорогостоящим материалом?</div>
        <div class="text" style="text-align:justify; ">
            В сравнении с обычным срубом он обойдётся, в среднем, дороже на 40%. Но при этом, клееный брус, является материалом самоокупаемым, как на стадии строительства, так и в процессе последующего использования здания.
            Под этим утверждением подразумевается экономия, которую застройщик получает, экономя на отделке дома, как изнутри, так и снаружи. К тому же, демонстрирует лучшие энергосберегающие возможности.
            Следующим плюсом, который обязательно следует отметить, является вес выстроенного дома. Он гораздо легче кирпичных или каменных домов, поэтому для его строительства не требуется обустройство тяжёлого и дорогостоящего фундамента. В большинстве случаев дома из клееного бруса возводятся на фундаментах плитных, ленточных мелкозаглубленных, буронабивных или свайных с ростверком, что позволяет значительно сэкономить средства.
        </div>
        <br />
    </div>
</div>


