@using Models
@using Helpers

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title">Клееный брус – что это за материал?</div>
        <div class="text" style="text-align:justify; ">
            Древесина активно используется в строительстве. Но, наряду с имеющимися преимуществами, упомянутый материал имеет ряд недостатков, существенно снижающих его привлекательность. К числу наиболее серьёзных, относятся растрескивание и предрасположенность к поражению патогенной микрофлорой.
            Одним из направлений, позволяющих минимизировать указанные недостатки, стало создание нового материала, клеёного бруса, пользующегося, в настоящее время, значительным спросом при строительстве деревянных домов (аббревиатура BSH является международной маркировкой данного строительного материала).
            Его получают, склеивая несколько ламелей в единый пакет. Изготавливаются данные элементы из хвойной древесины различных пород. До начала сращивания доски, предназначенные для данной операции, проходят предварительную обработку антиреспирантами и антисептиками. Их сборка в единую конструкцию выполняется посредством мини-шипов. При этом обязательно принимается во внимание текстура досок.
            Применение подобного бруса помогает практически полностью избавиться от таких проблем, присущих древесным стройматериалам, как:
            <p>•    Трещины в древесине</p>
            <p>•	Усадка сруба</p>
            <p>•	Изменение геометрических параметров</p>
            Клеёный брус предлагается на рынке в двух исполнениях:
            <p>•	Профилированный</p>
            <p>•	Имеющий четырёхкантное исполнение (обычный)</p>
            Первый тип имеет множество модификаций, имеющих различные гребни, обустроенные замки, выбранные пазы и форму профиля. Эти конструктивные особенности позволяют снизить сроки выполнения монтажных работ и повысить качество прилегания, что практически полностью исключает наличие щелей.
            Существуют варианты клеёного бруса, изготовленные из древесины разных пород. Это позволяет придать полученному строительному материалу повышенную прочность.
            Производители предлагают клеёный брус нескольких видов (по технологии склеивания):
            <p>•	Горизонтальное. Когда склеиваемые элементы бруса располагаются в горизонтальной плоскости</p>
            <p>•	Салонное. Собирается не из двух, а из шести одинаковых элементов. Предназначен для строительства многоэтажных помещений</p>
            <p>•    Вертикальное. Элементы бруса клеятся по вертикали. При этом твёрдые породы формируют рабочую поверхность бруса</p>

            <strong style="display:block;">Производство материала</strong>
            Клеёный брус изготавливается в несколько этапов:
            <p>•	Подбор пиломатериала. Предпочтительными материалами является сосна, кедр, лиственница либо ель</p>
            <p>•	Сушка. Для склеивания можно использовать только доску, предварительно просушенную до остаточного показателя влажности в 8-12%</p>
            <p>•	После завершения сушки материал поступает на сканирование, с целью выявления имеющихся в дереве скрытых дефектов. Участки, имеющие выявленные повреждения, маркируются и отбраковываются</p>
            <p>•	Склеивание. Напиленные ламели первоначально склеиваются в пласти (аналог обычно доски, только многослойный) под значительным давлением (≤ 10 кг/см²). Затем несколько высушенных пластей склеивается в биндер. И только из них формируется готовый клеёный брус нужных размеров</p>
            <p>•	Профилирование. Заготовки профилируются, режутся узловые соединения. После этого готовые элементы маркируются</p>
            Дополнительная обработка. На станках с ЧПУ выполняется дополнительная обработка бруса, включающая:
            <p>•	Высверливание каналов для прокладки внутренней электропроводки</p>
            <p>•	Выбор пазов под установку обсадных коробок в имеющихся оконных проёмах и т.п.</p>
            Каждый этап производства завершается индивидуальным контролем каждого элемента. Готовый брус комплектуется пакетами и пакуется в защитную плёнку (на время хранения и транспортировки)</p>

            <strong style="display:block;">Сравнительный анализ обычного и клеёного профилированного бруса</strong>
            Для того чтобы определиться с выбором материала для строительства, следует сравнить основные эксплуатационные характеристики, присущие каждому из них.
            <p>1.	Прочность. Профилированный брус, изготовленный из древесного массива, значительно уступает клеёному по рассматриваемому показателю. Последний практически не подвергается деформациям при механических нагрузках.</p>
            <p>2.	Влажность. Клеёный брус поступает потребителю с заявленной влажностью (8-12)%, поэтому практически отсутствует усадка сложенного из него сруба (её значение ≤ 1%). Брус из массива имеет естественную влажность. Её можно снизить, выполнив его предварительную сушку по определённым технологиям. Но значение не опустится ниже (18-20)%.</p>
            <p>3.	Стоимость материала. Брус, изготовленный из массива, почти вдвое дешевле клееного аналога. Зато фасады, выложенные из последнего, не нуждаются в облицовке. Поэтому конечная стоимость возведения сруба из этих материалов примерно сопоставима.</p>
            <p>4.	Склонность к растрескиванию и усадке. Материал, выполненный из массива, поступает на стройплощадку, имея естественную влажность. Усадка и усушка такого бруса происходит после его использования в строительстве для изготовления сруба. На это уходит год, как минимум. Клееный вариант избавлен от этих негативных явлений. Зато он проигрывает первому из рассматриваемых вариантов по склонности к растрескиванию.</p>
            Выбор материала, в любом случае, остаётся за клиентом. Мы, со своей стороны, можем только порекомендовать оптимальный, с нашей точки зрения, вариант.
        </div>

        <div class="title">Дом из клеёного бруса. Преимущества технологии</div>
        <div class="text" style="text-align:justify; ">
            Повышенный спрос на дома из клеёного бруса обусловлен высокими эксплуатационными характеристиками и существенным сокращением сроков строительства.
            <strong style="display:block;">Преимущества, отличающие клеёный брус</strong>
            <p>•	Удалось полностью снять древесное напряжение. Брус является сборным клеёным изделием, что препятствует его искривлению и растрескиванию. А разнонаправленные волокна ламелей обеспечивают данному изделию геометрическую стабильность</p>
            <p>•	Существенно повысились теплоизоляционные возможности материала</p>
            <p>•	Клеёный брус может изготавливаться длиной до 60 метров. Поставки изделия длиной 6, 9 и 14 м обусловлены адаптацией бруса для более удобной перевозки существующим автомобильным транспортом</p>
            <p>•	Материал не имеет внутренних дефектов (сучков, трещин и т.п.) за счёт проводимой, на стадии изготовления ламелей, дефектоскопии, а также обладает равномерной структурой</p>
            <p>•	Клеёный брус обладает значительной стойкостью к воздействию разнообразных веществ, являющихся химически активными, что позволяет использовать здания из такого материала в качестве складов минеральных удобрений</p>
            <p>•	Обладает повышенной огнестойкостью за счёт используемых при его производстве антипиреновых пропиток, и имеет низкую скорость обугливания</p>
            <p>•	Даёт усадку не превышающую одного процента. Это обеспечивает возможность перехода к внутренним отделочным работам сразу после завершения строительства коробки. В результате значительно сокращаются общие сроки выполнения работ.</p>
            <strong style="display:block;">Чем выгодно строительство домов из клеёного бруса</strong>
            Использование клееного бруса позволяет придать зданию практически любую конфигурацию, что делает количество проектов домов из бруса практически безграничным.
            Дома, построенные из клееного бруса, сохраняют практически все плюсы натурального дерева. Они дышат и создают микроклимат, оптимальный для здоровья человека.
            <p>1.	Фундамент. Благодаря относительной легкости (от 600 до 900 кг/м³), здания из клеёного бруса можно ставить на облегчённых фундаментах различных типов. Чаще всего предпочтение отдаётся ленточному мелкозаглубленному, т.к. он прост в изготовлении. Это снижает стоимость выполнения строительных работ.</p>
            <p>2.	Стены. Стены собираются по принципу конструктора. И обладают высокой стойкостью к негативным воздействиям факторов природного характера, включая плесень, грибок, насекомых. Это достигается использованием специальных пропиток.</p>
            <p>3.	Лаги и балки межэтажные перекрытий также выполняются из клеёного бруса. В связи с повышенной прочностью клееного бруса (почти на 50% превышающей аналогичный показатель для бруса из массива) появляется возможность увеличения размеров пролётов и несущих конструкций.</p>
            <p>4.	Если выбрана крыша мансардного типа, балки перекрытия в ней также изготавливаются из клеёного бруса. А стропила из конструкционного, со стороной 80*80 – 200*200.</p>
            <p>5.	После сборки и установки оконных и дверных блоков, собирается стропильная конструкция.</p>
            <p>6.	Далее выполняется отделка возведенного здания.</p>
            <p>7.	Не нуждается в дополнительной внутренней или наружной отделке. Достаточно просто затонировать его фасад или покрыть бесцветным лаком.</p>
            <p>8.	Швы внешних выпусков бруса обрабатываются в целях защиты от вероятного проникновения влаги.</p>
            <p>9.	По классу устойчивости к возгоранию такие дома относятся к категории R6, то есть обладают повышенной стойкостью. Это достигается за счёт пропитки бруса антипиренами.</p>
            <p>10.	Затраты на поддержание комфортной температуры на протяжении всего отопительного сезона, в доме, изготовленном из клеёного бруса. Рассматриваемая сумма в несколько раз ниже, чем в домах из иных материалов. Например, по сравнению с кирпичным, в 9-13.</p>
            <p>11.	Время сборки на готовом фундаменте не превышает 6 недель. Вести сборочные работы можно и в холодное время года. К отделочным работам можно переходить практически сразу после завершения возведения здания, при условии оставления необходимых зазоров и выбора скользящей стропиловки (использовать опорную до полного завершения усадки запрещено).</p>
            <p>12.	При столь существенном перечне достоинств,  стоимость дома из клеёного бруса  не столь высока, как можно было бы ожидать.</p>
            Если у вас остались вопросы, наш консультант готов дать развёрнутый ответ на любой из них, касающийся вопросов строительства домов из клеёного бруса.
        </div>

        <div class="title">Как правильно ухаживать за домом из клееного бруса</div>
        <div class="text" style="text-align:justify; ">
            По сравнению с домами, возведёнными из других строительных материалов, здания из клееного бруса весьма неприхотливы и требуют минимального ухода. Длительному сроку их эксплуатации способствует соблюдение трех основных требований.
            <strong style="display:block;">Поддержание необходимого уровня влажности и температуры</strong>
            Натуральное дерево весьма чувствительно к изменению влажности окружающей среды и значений температуры. Клееный брус менее подвержен влиянию климатических факторов. Однако и он реагирует отрицательно, если показатели длительное время выходят за оптимальные значения (избыточная или пониженная влажность, повышенная или пониженная температура).
            <strong style="display:block;">Качественная работа системы вентиляции</strong>
            От качественной работы вентиляции зависит микроклимат в помещении и долговечность самого здания, сложенного из клееного бруса. При неэффективной работе в доме появляется избыточная влажность, что провоцирует возникновение плесени, избавиться от которой крайне сложно. Эта патогенная микрофлора поражает не только внутреннюю отделку, но может проникнуть и внутрь стен.
            Вентиляция может быть пассивной (естественной) и активной (искусственной или принудительной). В первом случае, воздух поступает в помещения сквозь щели, имеющиеся в окнах, дверных проёмах и полах. Если при строительстве дома оконные и дверные блоки устанавливались с уплотнителями, помещения проветриваются посредством открывания окон и/или дверей. Либо устанавливаются специальные приточные клапаны. Существуют стеклопакеты со встроенными клапанами.
            Отвод воздуха из помещения осуществляется через выпускные вентиляционные каналы. При организации подобной схемы вентиляции интенсивность тяги полностью зависит от внешних погодных условий: скорости ветра и наружной температуры.
            <strong style="display:block;">Поддержание в необходимом состоянии защитного покрытия клееного бруса</strong>
            На этапе изготовления клееный брус проходит специальную обработку с целью его защиты от огня и патогенной микрофлоры. Но эта пропитка рассчитана, в первую очередь, на период хранения материала и его транспортировки. Поэтому непосредственно после завершения строительства дома следует повторно обработать его огнезащитными составами и средствами, защищающими от гнилостной микрофлоры.
            Для защиты от негативных факторов природного характера (прямое УФИ, знакопеременные температурные нагрузки, атмосферные осадки) брусу обеспечивают антисептики и ЛКМ. В зависимости от климата региона, в котором построен дом, эту защиту рекомендуется возобновлять каждые пять – десять лет.
            Защиту бруса от влаги и поражения патогенной микрофлорой, насекомыми и грызунами выполняют как изнутри, так и снаружи.
            <p>•	Внутренняя обработка обеспечивает в клееном брусе условия, исключающие появление и последующее развитие грибков и бактерий. Выполняется пропитками глубокого проникновения</p>
            <p>•	Наружная обработка позволяет создать на поверхности бруса плёнку с водоотталкивающим эффектом. Выполняется специальными составами защитно-декоративного характера или лаками для дерева</p>
            Пропитки делятся на три базовых группы:
            <p>•	Биозащитные. Данные пропитки наносятся в процессе производства бруса и после завершения монтажа сруба. Обеспечивают защиту материала от микрофлоры, синевы и гниения</p>
            <p>•	Огнебиозащитные. Наиболее распространённые в настоящее время. Кроме биологической защиты бруса защищают его от возгорания:</p>
            <p>&nbsp;&nbsp;• при попадании на материал очага огня с низкой калорийностью (сигарета, искрящая электропроводка)</p>
            <p>&nbsp;&nbsp;• значительно увеличивают продолжительность противодействия бруса очагу открытого возгорания, обеспечивая возможность эвакуации жильцов</p>
            <p>&nbsp;&nbsp;• замедляют распространение открытого огня и т.п.</p>
            <p>•	Покрытия защитно-декоративные. Кроме придания эстетичного внешнего вида эти пропитки защищают материал от патогенной микрофлоры, прямого УФИ, и иных факторов атмосферного характера.</p>
            Очень важно качественно герметизировать все щели и стыки между элементами конструкции. Особое внимание при этом следует уделять торцам здания. Работы выполняются с использованием специальных герметиков.
            <strong style="display:block;">Своевременное техническое обслуживание и профилактика</strong>
            Профилактические осмотры дома и обслуживание всех его элементов, является обязательным условием долговечности здания, возведённого из клееного бруса.
            При выполнении данных работ:
            <p>•	Выполняется визуальный осмотр объекта. При выявлении дефектов (протечки, появление трещин, плесени и т.п.) их следует устранять незамедлительно</p>
            <p>•	Требуется контролировать осадку здания. При этом проверяется состояние домкратов, закрутка болтов и состоянии стяжки. При необходимости осуществляется выставление уровня. Предварительно следует выяснить причину просадки и устранить её</p>
            <p>•	Необходимо выполнять регулярный контроль систем водосбора, водоотведения и дренажных систем открытого и закрытого (глубинного) типа. При необходимости выполняется их очистка и промывка, заменяются повреждённые элементы</p>
            <p>•	Проводится контроль состояния кровельного материала, очистка от мусора, проверка целостности и герметичности</p>
            Правильный и своевременно осуществляемый уход позволит долгие годы сохранять дом в технически исправном состоянии, которое обеспечивает комфортные условия проживания в любое время года.
        </div>
    </div>
</div>


