@using Models
@using Helpers

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title">Дом из бруса</div>
        <div class="text" style="text-align:justify; ">
            Для того чтобы дом из бруса простоял не менее полувека, необходимо строго соблюдать ряд требований и рекомендаций, как на стадии строительства, так и в процессе его эксплуатации.
            Факторы, влияющие на долговечность здания, собранного из бруса:
            <p>1.	На стадии проектирования:</p>
            <p>&nbsp;&nbsp;•	Климатические условия в месте строительства</p>
            <p>&nbsp;&nbsp;•	Глубина залегания грунтовых вод на строительном участке</p>
            <p>&nbsp;&nbsp;•	Тип и качество грунта</p>
            <p>2.	На этапе строительства:</p>
            <p>&nbsp;&nbsp;•	Выбор строительного материала</p>
            <p>&nbsp;&nbsp;•	Выполнение поверхностного или глубинного дренажа</p>
            <p>&nbsp;&nbsp;•	Соблюдение технологии на всех этапах строительства дома (от фундамента до кровли)</p>
            <p>3.	В процессе эксплуатации:</p>
            <p>&nbsp;&nbsp;•	Профилактические осмотры и обслуживание конструкции здания и СЖО</p>
            <p>&nbsp;&nbsp;•	Периодическое восстановление защиты бруса</p>
            <strong style="display:block;">Стадия проектирования</strong>
            Ошибки, возникшие на этапе проектирования, существенно влияют на сроки эксплуатации дома из бруса. Самыми основными являются:
            <p>•	Выбор типа фундамента, без учета качества грунта и глубины залегания грунтовых вод. В результате это может привести к просадке или перекосу конструкции, растрескиванию стен и значительным расходам на капитальный ремонт</p>
            <p>•	Ошибки в проектировании оконных и дверных проемов приводят к появлению «мостиков холода»</p>
            <p>•	Ошибки при проектировании инженерных систем приводят к проблемам с монтажом и эксплуатацией систем водоснабжения, отопления и вентиляции</p>
            <p>•	Ошибки при проектировании крыши. Приводят к ускоренному выходу из строя кровельных материалов и конструкции крыши</p>
            
            <strong style="display:block;">Ошибки и недостатки, имеющие место в процессе строительства</strong>
            От качества используемого бруса и материалов, применяемых в процессе строительства, во многом зависит долговечность возводимого здания.
            В немалой степени это зависит от того, кто строит дом.
            Зачастую недобросовестные или неквалифицированные застройщики допускают нарушения технологии строительства, которые существенно снижают сроки эксплуатации домов из бруса. Например:
            <p>•	При строительстве вырезают дверные и оконные проёмы полностью, что провоцирует коробление конструкции здания в процессе его усадки. Заказчику следует обращать внимание на то, чтобы в проёмах обязательно оставлялись перемычки минимум через каждые 500 мм высоты</p>
            <p>•	При сборке не контролируется перевязка бруса. Вертикальные стыки возводимых венцов кладут в ряд, либо в произвольном порядке. Это снижает надёжность конструкции</p>
            <p>•	Под опорными столбами не выставляются компенсационные домкраты. В результате стены при усушке и усадке коробятся</p>
            
            <strong style="display:block;">Уход и обслуживание дома в процессе эксплуатации</strong>
            Для того чтобы дом из бруса служил максимально долго, он нуждается в постоянном уходе. Основными мероприятиями, которые требуется выполнять в процессе эксплуатации, являются:
            <p>•	Регулярная проверка состояния кровельного материала, оперативное выявление и устранение мест его повреждения, очистка кровли от мусора</p>
            <p>•	Проверка состояния водосточной системы и системы водоотведения. Своевременное выполнение профилактических работ на дренажных системах</p>
            <p>•	Контроль состояния утеплителя и специального покрытия бруса, защищающего его от воздействия патогенной микрофлоры, прямого УФИ, и повышающего противопожарную стойкость. Рекомендуется наносить защитные составы не реже одного раза в два-три года. В тех случаях, когда стены из клееного бруса окрашены или покрыты лаком, обновление выполняется в сроки, установленные инструкцией для данных материалов</p>
        </div>
    </div>
</div>


