@using Models
@using Helpers

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title">Дома из бревна</div> 
        <div class="text" style="text-align:justify; ">
            Дома из дерева всегда были популярны у россиян, в силу их экологической чистоты, комфортности проживания и презентабельного внешнего вида. Естественно желание любого домовладельца максимально продлить срок службы дома.
            Дом из брёвен, действительно может простоять более 100 лет, что подтверждается большим количеством деревянных построек, сохранившихся до наших дней с конца ХХ и даже с XIX века. Но только при выполнении ряда условий.
            Зная о влиянии внешних климатических факторов и соблюдая ряд несложных рекомендаций, можно добиться того, что ваш бревенчатый дом простоит сто и более лет.
            <strong style="display:block;">Факторы, влияющие на долговечность здания, срубленного из бревна</strong>
            Качество используемых материалов
            Сруб может быть выполнен из бревна:
            <p>•	Изготовленного из дерева разных пород (лучшими считаются брёвна из хвойной древесины, а лидерами среди них по праву считаются лиственница и кедр)</p>
            <p>•	различной степени обработки (окорённое, оцилиндрованное и т.п.), прошедшего или не проходившего сушку (естественную или искусственную), пропитку антипиренами и антисептиками</p>
            <p>•	заготовленного в различных местах (наиболее качественной считается древесина, произрастающая в северных регионах России) и в разное время года (лучшая древесина – зимняя)</p>
            Следует поинтересоваться условиями транспортировки и хранения древесины, соблюдением требований стандартов при её обработке, наличием сертификационных документов.
            Аналогичные требования должны предъявляться к остальным строительным материалам, идущим на обустройство фундамента, возведение кровли и т.п.
            Качество выполнения сборки дома, от фундамента до конька крыши
            <p>•	Несоблюдение правил сушки и технологии обработки бревна, условий его транспортировки и хранения, сроков усадки, некачественное выполнение рубки самого сруба</p>
            <p>•	Невыполнение в полном объеме требований, регламентирующих возведение фундамента и его гидроизоляционную защиту от воздействия грунтовых вод и верховодки</p>
            <p>•	Несоблюдение технологии сборки и конопатки сруба, крыши</p>
            <p>•	Ошибки, допущенные при настиле кровельного материала, монтаже окон и дверей</p>
            Все эти ошибки могут привести к существенному сокращению срока эксплуатации дома.

            <br />
            Климат
            Климатические условия являются одним из важнейших факторов, от которых прямо зависит долговечность строения из бревна.
            На дом влияет:
            <p>•	Количество и интенсивность осадков</p>
            <p>•	Разница в температурах в тёплое и холодное время года, диапазон их суточного колебания</p>
            <p>•	Ветровая нагрузка</p>
            Осадки вызывают рост патогенной микрофлоры, которая вызывает гниение древесины. Для успешной борьбы с этим недостатком брёвна перед строительством пропитываются специальными антисептическими составами. Рекомендуется выполнять указанную процедуру не реже одного раза в пять лет.
            Все места стыков (в углах, между брёвнами венцов и т.п.) конопатятся с использованием материалов, препятствующих проникновению влаги.
            Важную роль играет конструкция крыши и используемые кровельные материалы. Состояние последних необходимо регулярно проверять и, при выявлении мест нарушения герметичности, оперативно устранять выявленные недостатки.
            Наличие и эффективность работы систем водоотведения
            При строительстве дома необходимо позаботься о системе водостока и ливневой канализацией, для отведения дождевых и талых вод от здания.
            В тех случаях, когда в районе строительства имеют место частые и обильные осадки, таяние проходит интенсивно, либо участок имеет склонность к заболачиванию, на придомовой территории обустраивается открытая дренажная система, отводящая влагу за пределы участка.
            В отдельных случаях требуется выполнять полный комплекс работ по глубинному дренажу участка и специальной защите фундамента здания. В противном случае влияние грунтовых вод может привести к смещению или одностороннему проседанию фундамента, что, в свою очередь, приведёт к перекосу всей бревенчатой конструкции, заклиниванию дверей и окон, появлению многочисленных щелей и т.п.
            
            <strong style="display:block;">Соблюдение правил ухода за бревенчатым домом</strong>
            Дом, сложенный из бревна, требует постоянного внимания и ухода.
            <p>•	Регулярная пропитка противогрибковыми препаратами и антипиренами</p>
            <p>•	Комплексные мероприятия по защите здания от насекомых и грызунов</p>
            <p>•	Периодическая конопатка всей бревенчатой кладки</p>
            <p>•	Проверка состояния кровли и систем водоотведения</p>

            На долговечность дома влияет значительное число факторов. Однако, при соблюдении технологии строительства, использовании качественных материалов и своевременном уходе, ваш бревенчатый дом простоит более 100 лет.
        </div>

        <div class="title">Причины возникновения трещин</div>
        <div class="text" style="text-align:justify; ">
            В процессе высыхания древесина сокращается в размерах, усыхает. Поверхностные слои, благодаря происходящей усушке, сокращают свои размеры. В это же время в слоях внутренних, в которых влажность ещё сохраняется, процесс усушки ещё не начался. В результате мы имеем растягивающие напряжения, действующие на внешние слои, и сжимающие – на внутренние, при котором, в поверхностном слое ткани рвутся, т.е. возникает трещина.
            При сушке бревна естественным образом образование трещин происходит обязательно!
            Единственное, что можно этому противопоставить, уменьшить их размеры и количество посредством выполнения ряда технических мероприятий.
            Что можно предпринять для того, чтобы минимизировать образование трещин
            Существует несколько технологий, позволяющих добиться ощутимого эффекта в борьбе против трещин.

            <strong style="display:block;">Продолжительная естественная сушка</strong>
            Одним из самых простых вариантов является увеличение продолжительности сушки естественным образом. При этом подбираются условия, при которых скорость просыхания верхних слоёв обеспечивает незначительное различие между их влажностью и аналогичным показателем для внутренних слоёв. То есть при выбранном режиме естественной сушки влага должна успевать перемещаться изнутри в наружные слои.
            Достигается это сушкой брёвен, прошедших предварительную окорку и уложенных в штабели, на протяжении ≥ 2 лет, до снижения влажности слоёв, располагающихся внутри бревна, до 18% - 20%. Трещины, возникающие в этих брёвнах, по своей ширине ≤ 2 мм.
            С оцилиндрованного на станке бревна срезан верхний защитный слой. Внутреннее волокно открыто. Поэтому, при некачественно проведённой сушке, скорость усыхания наружных слоёв существенно возрастает. А внутренние сохнут гораздо медленнее. Это приводит к возникновению значительных трещин.
            Вывод. Высокое трещинообразование оцилиндрованных брёвен является нарушением существующих технологий сушки для ускорения данного процесса и снижения себестоимости работ.

            <strong style="display:block;">Выполнение деформационного пропила</strong>
            Он иногда именуется компенсационным. Ещё одним вариантом снижения срока сушки, позволяющим минимизировать размеры и количество возникающих трещин, является продольный пропил, выполняемый на внешней поверхности бревна в его нижней или верхней части, глубина которого примерно равна 1/6 d бревна. Он именуется «компенсационным».
            Наличие подобного пропила практически сводит на нет возникновение крупных трещин. Однако мелкие (до 2 мм) возникают по-прежнему.
            Недостатком метода является возможность разрастания трещины, инициируемой пропилом и, возможное, раскалывание бревна.
            <strong style="display:block;">Сушка брёвен ТВЧ</strong>
            Теоретически, образования трещин можно избежать, проводя сушку бревна «изнутри наружу». Подобная технология сегодня запатентована и активно внедряется в России. Суть - внутренние слои  обрабатываемого бревна нагреваются излучением СВЧ. В ходе прогрева излишняя влага, вследствие   хорошей проходимости, по продольным волокнам выводится через торцевые части бревна. Это значительно сокращает время высыхания. Причём именно в нужной последовательности: от внутренних слоёв к внешним.
            Применяющие данный метод компании ссылаются на то, что данный метод активно используется на Западе. Но при этом они совершенно не учитывают того, что при подобной сушке в бревне (особенно хвойных пород) смола внутри кристаллизуется (выгорает). Теряются её антисептические природные свойства, и древесина начинает активно загнивать, что резко понижает сроки её использования.
            <br />
            Насколько опасны трещины
            В первую очередь, о необходимости обязательной борьбы с трещинами, громче всех кричать производители материалов для заделки последних. Свою точку зрения они аргументируют следующими посылами.
            <p>•	Попадающая в них влага, зимой замерзает и разрывает бревно.</p>
            <p>•	Трещины являются очагами первоочередного загнивания материала.</p>
            <p>•	В них интенсивно размножается патогенная микрофлора и вредные насекомые.</p>
            <p>•	Наличие трещин снижает теплотехнические параметры сруба.</p>
            Опытные плотники с этим не соглашаются по следующим причинам.
            <p>•	Попадающая на стены влага рассеивается по всей поверхности и находится на ней незначительное время. Незначительная её часть успевает впитаться, но большая часть испаряется и стекает. К тому же наружная поверхность стен любого жилого дома имеет плюсовую температуру даже зимой. Поэтому в принципе невозможно замерзание влаги до такой степени, чтобы она могла разорвать древесину.</p>
            <p>•	Чтобы дерево начало гнить, его влажность должна превысить 20%. Так как трещины возникают вдоль волокна, не разрушая, при этом, самих волокон (они остаются закрытыми), впитывание влаги происходит крайне медленно. Вода, попавшая в трещину, достаточно быстро испаряется. Поэтому влажность бревна до критических значений не возрастает.</p>
            <p>•	Практически все насекомые, представляющие опасность для древесины, питаются продуктами гниения, патогенной микрофлорой или сырым деревом. Ничего подобного в трещинах нет.</p>
            <p>•	Для значительного снижения теплотехнических показателей сруба в нём должны появиться сквозные трещины. Но в цельном бревне этого не бывает. Исключением может стать очень сырое оцилиндрованное бревно. Но его не продают.</p>
            Обратите внимание на старые деревянные постройки XIX века. Они прекрасно сохранились до наших времён, хотя на каждой из них немало трещин.
            Вывод. Трещины на оцилиндрованном бревне опасности не представляют и на эксплуатационных характеристиках стен не отражаются.
            <br />
            Заделка трещин
            Заделка трещин может выполняться по нескольким вариантам:
            <p>•	С использованием специальных герметиков.</p>
            <p>•	Применением для упомянутых целей материалов на основе вспененного полиэтилена.</p>
            <p>•	Конопатка</p>
        </div>
    </div>
</div>


