@using Models
@using Helpers

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title"><h1>Современные деревянные дома</h1></div>
        <div class="text" style="text-align:justify; ">
            Уютный дом для жизни и отдыха – мечта каждого человека, это зарождение нового образа существования. Современные технологии, новые методы строительства помогают соорудить прочный загородный деревянный дом на долгие годы.<br />
            Прежде чем начать постройку, необходимо проанализировать все этапы работ:<br />
            - определить, какие материалы понадобятся;<br />
            - выбрать, своими силами вести работы или приглашать профессионалов;<br />
            - подобрать месторасположение дома;<br />
            - подсчитать, во сколько обойдется реализация мечты.<br />
            Дом из дерева является экологически чистым, так как древесина считается природным естественным материалом. Не понадобится использование при работах тяжелой строительной техники. Теплоизоляционные свойства срубов позволят экономить на прогревании и отоплении помещений в доме. Нет необходимости и во внутренней отделке. Экономия на всем!<br />
            Существует несколько технологий постройки деревянных домов, доступных при разработке проекта:<br />
            - Каркасный дом. Данный способ начинается с конструкции из стоек и балок с дальнейшей обшивкой внутри и снаружи.<br />
            - Дом из бруса – древний прием строительства. Укладка дома происходит горизонтально из ровных бревен хвойной породы, соединяющихся путем врубок. Чем прохладнее климат – тем плотнее дерево.<br />
            - Дом из бревен и лафета, срубленный вручную. Лафет – это полубрус из бревен, подпиленных с обеих сторон. На двух последующих надпилы под замычку «шип – паз». Скрепление происходит в период усушки, когда брус закрепляется в «чашке» своей массой – создается прочность дома.<br />
            - Дом из оцилиндрованного бревна. Данный проект не требует дополнительных фасадных элементов, теплоизоляции и отделки стен. Постройки удерживают по максимуму тепло и обладают эстетическими свойствами. Используется часто для сооружения бань.<br />
            - Дом из строганого бревна. Строение «дышит», легко прогревается зимой, прохладный летом, запах смолы и соснового леса, минимальная отделка.<br />
            - Дом из клееного бруса. Клееный брус – это хвойное дерево, распиленное на доски, высушенное и склеенное с помощью прессмашин. Не страшны влажность, усадка, микротрещины и перепады температур.<br />
            - Опорно-брусовые дома (фахверк). Новейшая технология для возведения каркасов из клееного бруса.<br />
            Для расположения дома на участке необходимо учесть эксплуатационные правила:<br />
            - противопожарные нормы – расстояние между постройками должно составлять от 6 до 15 метров, в зависимости от назначения объекта;<br />
            - санитарные нормы – необходимы для безопасности жизни и здоровья;<br />
            - правильная ориентация по сторонам света – для лучшей освещенности, не допуска естественного перегрева;<br />
            - места прокладки коммуникаций;<br />
            - шумоизоляция;<br />
            - не рекомендуется постройка дома в низинах и на болотистых участках;<br />
            - учитывается будущий внешний вид из окон для комфортности жилища.<br />
            Здоровая атмосфера в доме, тепло, всевозможные удобства, позитивные эмоции, гармоничные отношения с близкими и родными – деревянный дом всегда поможет создать в жилище незаменимую ауру заботы, семейности, уюта и комфорта.<br />

        </div>

        <br />
    </div>
</div>


