<div class="hide_line section section162 notext" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Контакты<br></div>
        <div class="sub_title">
            <div class="map_wrapper">
                <a href="https://yandex.ru/maps/?um=constructor%3A1e372745a33ed304e87f60fc391ea75ec115c2fc52f79304b513623ea6d1b0b9&amp;source=constructorStatic" target="_blank"><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3A1e372745a33ed304e87f60fc391ea75ec115c2fc52f79304b513623ea6d1b0b9&amp;width=500&amp;height=400&amp;lang=ru_RU" alt="" style="border: 0;" /></a>
            </div>
            <ul>
                <li style="text-align:left;margin-bottom:5px;">Адрес: г. Москва, Шитова наб. 4 стр.1 <br />(10 мин пешком от м.&nbsp;Преображенская площадь)</li>
                <li style="text-align:left;margin-bottom:5px;">Телефон: +7 (495) 783-83-89, +7 (495) 771-06-46</li>
                <li style="text-align:left;margin-bottom:5px;">Электронный адрес: info@sv-dom.ru</li>
                <li style="text-align:left;margin-bottom:5px;">График работы: с 10:00 до 19:00 (пн-пт)<br />Сб, Вс - по предварительной договоренности</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
