@using Helpers
@using Models

@model int

<div class="hide_line section section143 img_zoom" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title title-gallery">@MainHelper._gallery[Model]<br></div>
        <div class="images project_samples">
            @{  
                var i = 1;
                foreach (var item in MainHelper.GetMainGallery(Model))
                {
                    @Html.Partial("~/Views/Shared/_SampleImageGroupPartial.cshtml", new Tuple<SampleImageModel, string>(new SampleImageModel() { Name = item.Name, Comment = MainHelper._gallery[Model] }, MainHelper._gallery[Model]))
                    if (Model == 15)
                    {
                        if (i == 15)
                        {
                            <text>
                                <div class="clearfix" style="margin: 20px;color:white;">-</div>
                            </text>
                        }
                    }
                    i++;
                }
            }
            <div class="clear"></div>
        </div>
    </div>
</div>