<!DOCTYPE html>
<html>
<head>
    <meta content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" name="viewport">

    <meta name="description" content="Строительство и проектирование домов и бань из оцилиндрованного бревна и клееного бруса. Реконструкция деревянных домов. Внешняя и внутренняя отделка. Инженерные системы и коммуникации.">
    <meta name="keywords" content="оцилиндрованное бревно,клееный брус,строительство домов,бани,реконструкция домов,проекты коттеджей">

    <title>Дома из оцилиндрованного бревна - строительство деревянных домов ПСК СВ-Строй</title>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" type="text/css" href="~/content/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/content/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/content/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/content/css/mobile.css">

    <script type='text/javascript' src='/content/fancybox/jquery.fancybox.min.js'></script>
    <link rel='stylesheet' href='/content/fancybox/jquery.fancybox.min.css' type='text/css' />

    <script>
        $(document).ready(function () {

            //$.bindViewer(".sample-image");

            $('body').on('click', '.section116 .menu-toogler', function () {
                $(this).parent().children('.menu1').toggle();
            })

            $(".btn_recall").on('click', function (e) {
                e.preventDefault();
                $('.popup_form').show();
            });

            $(".popup_form_close").on('click', function () {
                $('.popup_form').hide();
            });

            $('body').on('click', '#img_zoomer_bg ,#img_zoomer_close', function () {
                if ($('#img_zoomer_bg').size()) {
                    $('#img_zoomer_bg').remove();
                }

            })

            $('body').on('click', '.proj-cart', function () {
                var id = $(this).attr('item');
                if (id && id.length > 0) {
                    window.location.href = "project/" + id;
                }
            });

            $('.form-get-recall, .form-get-info').on('click', '.submit_btn', function () {
                var frm = $(this).parent().parent().parent();

                if (frm.find('.input-phone').val().length == 0 && frm.find('.input-mail').val() == 0) {
                    frm.find('.input-mail').focus();
                    return;
                }

                $('.popup_form').hide();
                $.ajax({
                    type: 'POST',
                    url: '/GetRecall',
                    data:
                    {
                        name: frm.find('.input-name').val(),
                        phone: frm.find('.input-phone').val(),
                        email: frm.find('.input-mail').val(),
                        comment: frm.find('.input-comment').val()
                    },
                    success: function (content) {
                        try {
                            yaCounter47921396.reachGoal('recall');
                        } catch (e) { }
                    },
                    traditional: true,
                    dataType: 'json'
                });

                    frm.find('input[type="text"], input[type="email"], textarea').each(function () {
                    $(this).val('');
                });

                $('.popup_thanks').show();
            });

            $(".popup_thanks_close").on('click', function () {
                $('.popup_thanks').hide();
            });
        });
    </script>

    @if (!HttpContext.Current.Request.Url.Host.Contains("localhost"))
    {
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter47921396 = new Ya.Metrika({
                    id:47921396,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/47921396" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    }
</head>

<body>
    <div class="hide_line section section103" style="background-color:#FFFFFF;">
        <div class="section_inner">
            <div class="logo_img"><img src="/content/img/logo.png" alt=""></div>
            <div class="slogan">
                <div class="text1">ПСК «СВ-Строй»</div>
                <div class="text2">Строительство домов в Москве и Области</div>
            </div>
            <div class="phone-and-btn">
                <div class="phone1">+7 495 783-83-89</div>
                <div class="btn_recall btn1 surround" style="background-color: rgb(63, 123, 22); border-radius: 1.5em; color: rgb(255, 255, 255);" data-color="rgb(63, 123, 22)">Заказать звонок</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="hide_line section section116" style="background-color:#FFFFFF ;">
        <div class="section_inner">
            <div class="menu-toogler"><i class="fa fa-bars"></i></div>
            <div class="menu1">
                <ul>
                    <li class="level0"><a href="/index" title="">О компании</a></li>
                    <li class="level0"><a href="/catalog" title="">Проекты</a></li>
                    <li class="level0"><a href="/services" title="">Услуги</a></li>
                    <li class="level0"><a href="/credit" title="">Кредитование</a></li>
                    <li class="level0"><a href="/gallery" title="">Портфолио</a></li>
                    <li class="level0"><a href="/price" title="">Стоимость</a></li>
                    <li class="level0"><a href="/contacts" title="">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>

    @RenderBody()

    <div class="section section154" style="background-color:#ffffff;">
        <div class="dark"></div>
        <div class="section_inner ">
            <div class="headliner revers">
                <div><div class="title"><p><strong>Позвоните нам&nbsp;и узнайте всё, что&nbsp;нужно для строительства дома Вашей мечты&nbsp;</strong></p></div></div>
                <div><div class="sub_title">Обращаем Ваше внимание, что все цены представленные на сайте, носят исключительно информационный характер и не являются публичной офертой.</div></div>
                <div><div class="sub_title">По любым &nbsp;вопросам проконсультируйтесь по телефону<br>+7 495 783-83-89 или оставьте заявку на сайте.&nbsp;Наш специалист ответит на все Ваши вопросы!</div></div>
            </div>
            <div class="form_wrapper revers">
                <div class="form_title">Консультация специалиста</div>
                <div class="form_sub_title">Оставьте заявку и наш специалист свяжется с вами<br></div>
                <div class="form-get-info">
                    <input name="Консультация специалиста" value="" type="hidden">
                    <div class="field">
                        @*<div class="field_title">Введите имя</div>*@
                        <div class="field_description"></div>
                        <div class="field_input">
                            <input class="input-name" required="required" name="Ваше имя" placeholder="Ваше имя" type="text">
                        </div>
                    </div>
                    <div class="field">
                        @*<div class="field_title">Введите E-mail</div>*@
                        <div class="field_description"></div>
                        <div class="field_input">
                            <input class="input-mail" required="required" name="Введите E-mail" placeholder="Введите E-mail" type="email">
                        </div>
                    </div>
                    <div class="field">
                        @*<div class="field_title">Введите номер телефона</div>*@
                        <div class="field_description"></div>
                        <div class="field_input">
                            <input class="input-phone" required="required" pattern="[+)( .-]*[0-9]+[0-9+)( .-]*" minlength="6" name="Введите номер телефона" placeholder="Введите номер телефона" type="text">
                        </div>
                    </div>
                    <div class="field">
                        @*<div class="field_title">Ваш вопрос</div>*@
                        <div class="field_description"></div>
                        <div class="field_input">
                            @*<input class="input-comment" name="" placeholder="Введите E-mail" type="text">*@
                            <textarea class="input-comment" placeholder="Ваш вопрос"></textarea>
                        </div>
                    </div>

                    <div class="field"><div class="field_input"><input class="submit_btn surround" data-action="thanks" data-url="" data-amount="0" value="Задать вопрос" style="background-color:#3F7B16;border-radius: 1em;" type="submit"></div></div>
                </div>
                <div class="form_text">Нажимая на кнопку, Вы принимаете <b>Положение</b> и <b>Согласие</b> на обработку персональных данных.<br></div>
            </div>
            <div class="clear"></div>
            @*<div class="popup_thanks">
                <div class="popup_thanks_inner">
                    <div class="popup_thanks_close">X</div>
                    <div class="popup_thanks_title">Спасибо за заявку!</div>
                    <div class="popup_thanks_text">Заявка отправлена. Наш менеджер свяжется с Вами в ближайшее время.</div>
                </div>
            </div>*@
        </div>
    </div>
    <div class="section section119" style="background-color:#ffffff;">
        <div class="section_inner">
            <div class="logo_img"><img src="/content/img/logo.png" alt=""></div>
            <div class="address-and-ua">
                <div class="address1">ПСК "СВ-СТРОЙ", 123456, г.Москва, Шитова наб. 4 стр.1 <br>ИНН 5044080411 ОГРН 1115044002920</div>
                <div class="policy2 ">Политика конфиденциальности</div>
            </div>
            <div class="phone-and-address">
                <div class="phone1 ">+7 495 783-83-89</div>
                <div class="text1">E-mail: info@sv-dom.ru</div>
            </div>
            <div class="clear"></div>
            <div class="policy2_popup">
                <div class="policy2_title">Политика конфиденциальности</div>
                <div class="policy2_body">
                    <p>
                        Данный
                        сайт уважает Ваше право и соблюдает конфиденциальность при заполнении,
                        передаче и хранении Ваших конфиденциальных сведений.<br>Размещение
                        заявки на данном сайте означает Ваше согласие на обработку данных и
                        дальнейшей передачи ваших контактных данных нашей компании.<br>Под
                        персональными данными подразумевается информация, относящаяся к субъекту
                        персональных данных, в частности имя, контактные реквизиты (адрес
                        электронной почты) и иные данные, относимые Федеральным законом от 27
                        июля 2006 года № 152-ФЗ «О персональных данных» к категории персональных
                        данных.<br>Целью обработки персональных данных является информирование об оказываемых услугах нашей компании.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="popup_form">
        <div class="popup_form_inner">
            <div class="popup_form_close">X</div>
            <div class="popup_form_title"><span style="font-size:20px">Оставьте заявку и наши менеджеры с вами свяжутся</span></div>
                <div class="form-get-recall">
                    <input name="Расчет стоимости" value="Расчет стоимости строительства дома" type="hidden" />
                    <div class="field">
                        <div class="field_title">Введите имя</div>
                        <div class="field_description"></div>
                        <div class="field_input">
                            <input class="input-name" required="required" name="Введите имя" placeholder="Введите имя" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <div class="field_title">Введите E-mail</div>
                        <div class="field_description"></div>
                        <div class="field_input">
                            <input class="input-mail" required="required" name="Введите E-mail" placeholder="Введите E-mail" type="email">
                        </div>
                    </div>
                    <div class="field">
                        <div class="field_title">Введите номер телефона</div>
                        <div class="field_description"></div>
                        <div class="field_input">
                            <input class="input-phone" required="required" pattern="[+)( .-]*[0-9]+[0-9+)( .-]*" minlength="6" name="Введите номер телефона" placeholder="Введите номер телефона" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <div class="field_title">Комментарий</div>
                        <div class="field_description"></div>
                        <div class="field_input">
                            <textarea class="input-comment" placeholder="Ваш вопрос"></textarea>
                        </div>
                    </div>

                    <div class="field">
                        <div class="field_input">
                            <input class="submit_btn surround" data-action="thanks" data-url="" data-amount="0" value="Отправить заявку" style="background-color:#3F7B16;border-radius: 1.5em" type="submit">
                        </div>
                    </div>
                </div>
            <div class="popup_form_text">Нажимая на кнопку, Вы принимаете <b>Положение</b> и <b>Согласие</b> на обработку персональных данных.</div>
        </div>
    </div>
    <div class="popup_thanks">
        <div class="popup_thanks_inner">
            <div class="popup_thanks_close">X</div>
            <div class="popup_thanks_title">Спасибо за заявку!</div>
            <div class="popup_thanks_text">Заявка отправлена. Наш менеджер свяжется с Вами в ближайшее время.</div>
        </div>
    </div>

    @RenderSection("scripts", required: false)

    <script src="~/content/js/underscore-min.js"></script>
    <script src="~/content/js/imgViewer.js"></script>
</body>
</html>
