@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
</script>

<div class="section fixed section153" style="background-color:#ffffff; background-image:url(/content/img/slyder1.jpg);">
    <div class="dark"></div>
    <div class="section_inner big w500h80 ">
        <div class="layer">
            <div class="title"><h1><strong>Строительство домов из оцилиндрованного бревна и клееного бруса</strong></h1></div>
            <div class="sub_title">Деревянные дома из экологичных материалов под ключ по доступным ценам</div>
            <div class="btn_recall btn1 surround" style="background-color: rgb(63, 123, 22); border-radius: 1.5em; color: rgb(255, 255, 255);" data-color="rgb(63, 123, 22)">Рассчитать стоимость</div>
            <div class="btn_descr">Вы можете обратиться к нам по телефону +7(925) 771-06-46 или отправить сообщение.<br></div>
        </div>
    </div>
</div>

<div>
    @RenderBody()
</div>

