<div class="hide_line section" style="background-color:#FFFFFF;">
    <div class="section_inner">
        <div class="title">Типовые проекты</div>
        <div class="filter-panel ar1">
            <div class="col_3">
                <div class="title1"><span>Площадь</span></div>
                <div class="txt1" style="font-size:16px;">
                    <input type="checkbox" class="complSel" id="square1" name="square" value="square1">
                    <label for="square1">50 - 100 м<sup>2</sup></label>
                    <br />
                    <input type="checkbox" class="complSel" id="square2" name="square" value="square2">
                    <label for="square2">100 - 200 м<sup>2</sup></label>
                    <br />
                    <input type="checkbox" class="complSel" id="square3" name="square" value="square3">
                    <label for="square3">более 200 м<sup>2</sup></label>
                </div>
            </div>
            <div class="col_3">
                <div class="title1"><span>Материал</span></div>
                <div class="txt1" style="font-size:16px;">
                    <input type="checkbox" class="complSel" id="base" name="compl" value="base">
                    <label for="base">оцилиндрованное бревно</label>
                    <br />
                    <input type="checkbox" class="complSel" id="mid" name="compl" value="mid">
                    <label for="mid">клееный брус</label>
                    <br />
                    <input type="checkbox" class="complSel" id="high" name="compl" value="high">
                    <label for="high">комбинированный</label>
                </div>
            </div>
            <div class="col_3">
                <div class="title1"><span>Цена</span></div>
                <div class="txt1" style="font-size:16px;">
                    <input type="checkbox" class="complSel" id="base" name="cost" value="base">
                    <label for="base">50 000 - 1 000 000 руб.</label>
                    <br />
                    <input type="checkbox" class="complSel" id="mid" name="cost" value="mid">
                    <label for="mid">1 000 000 - 2 000 000 руб.</label>
                    <br />
                    <input type="checkbox" class="complSel" id="high" name="cost" value="high">
                    <label for="high">свыше 2 000 000 руб.</label>
                </div>
            </div>
            <div class="col_3 last">
                <div class="title1"><span>Этажность</span></div>
                <div class="txt1" style="font-size:16px;">
                    <input type="checkbox" class="complSel" id="base" name="level" value="base">
                    <label for="base"> 1 этаж</label>
                    <br />
                    <input type="checkbox" class="complSel" id="mid" name="level" value="mid">
                    <label for="mid"> 2 этажа (мансарда)</label>
                    <br />
                    <input type="checkbox" class="complSel" id="high" name="level" value="high">
                    <label for="high">свыше 2 этажей</label>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
