@model Models.SampleImageModel

<div class="image_box image_size_300x225 arr1 ">
    <img src="/content/img/@(Model.Name).jpg" alt="@Model.Comment">
    <div class="overlay_image_box" data-link="">
        <div class="overlay_image_title"></div>
        <div class="overlay_image_descr"></div>
    </div>
</div>

