@model Models.SampleImageModel

<div class="image_box arr1">
    <img class="sample-image" src="@Url.Action("GetPhotoThumbnail", new { filename = Model.Name })" 
         src-big="@Url.Action("GetPhotoThumbnail", new { filename = Model.Name, width = 800, height = 600 })" 
         alt="@Model.Comment" style="max-width:460px;height:auto;">
</div>

