@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section fixed section153" style="background-color:#ffffff; background-image:url(/content/img/slyder1.jpg);">
    <div class="dark"></div>
    <div class="section_inner" style="min-height:50px;">
        <div class="layer">
            <div class="title" style="font-size:26px;"><strong>Строительство домов из оцилиндрованного бревна и клееного бруса</strong></div>
            <div class="sub_title" style="font-size:18px;">Деревянные дома из лучших материалов под ключ по доступной цене</div>
        </div>
    </div>
</div>

<div>
    @RenderBody()
</div>