@using Models
@using Helpers

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title">Выбор проекта деревянного дома</div>
        <div class="text" style="text-align:justify; ">
            Перед строительством загородного дома необходимо подготовить детальный проект, учитывающий все особенности.
            Для того, чтобы жилище полностью отвечало вашим представлениям, можно заказать индивидуальный проект или готовый вариант,
            который можно будет доработать с учетом индивидуальных пожеланий заказчика. В любом случае, без профессиональных архитекторов в этом деле не обойтись.
        </div>
        <div class="arr1">
            <img style="width:100%;" src="/Content/img/gallery/0/4.jpg" alt="Фото деревянного дома из бревна" />
        </div>
        <div class="text" style="text-align:justify; ">
            При заказе и приемке проектной документации вы вправе требовать, чтобы в комплекте содержалась вся необходимая информация, позволяющая получить полное представление о внешнем виде и конструкции дома и достаточная для его строительства без использования каких-либо дополнительных документов, за исключением нормативной базы в виде ГОСТ, СНиП, типовых технологических процессов и инструкций. Ссылки на все нормативные документы обязательно должны содержаться в пояснительной записке. В комплект должны входить планы и чертежи фундамента, стен, кровли, перекрытий, водосточной системы, а также поэтажные схемы вентиляции, отопления, водоснабжения и канализации. Описание электрической части должно включать в себя электрическую схему и поэтажные планы силовой сети. По всем участкам работ должны быть представлены полные спецификации материалов, оборудования и комплектующих изделий. И, разумеется, должны присутствовать поэтажные планы с экспликацией всех помещений, изображения всех фасадов и перспективные изображения, позволяющие оценить внешний облик дома и его расположение на участке.
            Представления о том, какая площадь дома является идеальной, у каждого свои. Но при оценке требуемой площади не надо забывать, что загородный дом тем и отличается от квартиры в многоэтажке, что, помимо жилых, в нем имеется много и подсобных помещений, которые обеспечивают удобство и комфорт проживания, а иногда при загородной жизни просто необходимы. Котельная, гараж, кладовые для хранения громоздкого инвентаря и оборудования, балконы, веранды и лестницы – все эти атрибуты загородного жилья ведут к увеличению общей площади. А для кого-то может быть важен еще и тренажерный зал, гардеробная, мастерская или бильярдная. В теории архитектуры существует планировочный коэффициент К1, отражающий отношение площади жилых помещений к общей площади. Этот коэффициент варьируется от 0,6 – 0,7 в эконом-классе до 0,3 для элитных высококачественных домов. Таким образом, для небольшого дома с двумя спальнями общей площадью 30 м2 и гостиной площадью 35 м2, принимая значение К1=0,4, получаем 162,5 м2. Это условная цифра, на практике решения по планировкам принимаются на основании конкретных пожеланий по количеству и площадям требуемых помещений. Избыточная площадь не нужна, это лишние затраты как при строительстве, так и в процессе содержания дома, его отопления, освещения и поддержания чистоты. Но следует быть готовым к тому, что общая площадь полноценного дома для комфортного проживания вряд ли будет менее 150 м2.
            В одноэтажном исполнении 150 м2 – это квадрат со стороной более 12 м. Не на каждом участке такой дом будет смотреться органично, вдобавок ограничения добавляют строительные нормы и правила, запрещающие размещение деревянных домов ближе 3 м от границы участка и менее чем в 10-15 м друг от друга. В этой ситуации предпочтительно уменьшение площади застройки за счет увеличения этажности дома.
            Хорошим средством увеличения полезной площади дома является обустройство цокольного этажа, если это позволяют условия участка. Цокольный этаж обойдется дороже, чем надземный такой же площади, но его использование дает определенные преимущества. Во-первых, строительство частных трехэтажных домов с мансардой запрещено СНиП, но этот запрет не относится к цокольному этажу и вы можете, не нарушая правил, построить полноценный трехэтажный особняк. Во-вторых, в цокольном этаже можно установить оборудование, размещение которого в подвальных и надземных этажах запрещено строительными нормами. Речь идет, в первую очередь, о газовой котельной, без которой хороший современный загородный дом трудно представить.
        </div>
        <div class="arr1">
            <img style="width:100%;" src="/Content/img/gallery/0/6.jpg" alt="Фото деревянного дома из бревна" />
        </div>
        <div class="text" style="text-align:justify; ">
            Еще одно часто используемое архитектурное решение – обустройство мансардного этажа. Дом с мансардой смотрится оригинально и выразительно, поэтому весьма популярны. Надо понимать, что мансардный этаж – это все-таки компромиссное решение, а романтичность дизайна и возможность сэкономить на стройматериалах нивелируется худшими условиями проживания в помещениях с наклонными стенами, необходимостью установки принудительной вентиляции, дороговизной установки мансардных окон, усложнением конструкции кровли и ухудшением условий работы элементов ее конструкции, что приводит к сокращению срока службы.
            Построить дом своей мечты – задача важная и непростая. Чтобы не допустить серьезных ошибок, нужно хорошо понимать, чего же вы хотите, ознакомиться с опытом других людей, адекватно оценивать свои возможности и не пренебрегать советами специалистов. Но потраченные усилия не пропадут даром, ведь результатом будет комфортное и уютное жилище, а хороший дом, который заряжает позитивной энергией и куда хочется возвращаться после напряженного рабочего дня – это, может быть, самое главное для современного человека.
        </div>
        <div class="arr1">
            <img style="width:100%;" src="/Content/img/gallery/0/7.jpg" alt="Фото деревянного дома из бревна" />
        </div>

        <div class="title">Готовый или индивидуальный проект</div>
        <div class="text" style="text-align:justify; ">
            Выбор проекта - один из первых шагов, после которого постройка деревянного дома переходит из разряда идей, задумок и мечтаний в конкретные действия, связанные с материальными и физическими затратами. После того, как проект окончательно разработан, появляется полная ясность с тем, как новый дом будет выглядеть, как он впишется в окружающий ландшафт и имеющиеся инженерные коммуникации, сколько времени займет его возведение и во что обойдется строительство.
        </div>
        <div class="arr1">
            <img style="width:100%;" src="/Content/img/gallery/0/8.jpg" alt="Фото деревянного дома из бревна" />
        </div>
        <div class="text" style="text-align:justify; ">
            Времена, когда под проектом понимался листок бумаги с начерченными карандашом поэтажными планами, а строительство велось своими силами из тех материалов, которые удалось раздобыть, давно канули в прошлое. Сегодня все понимают, что в таком важном деле, как строительство жилища, надо доверять профессионалам. Подготовка детального проекта – это серьезная работа, включающая инженерно-геодезические изыскания на участке, оценку возможностей подключения к инженерным сетям, множество расчетов, выполняемых на компьютерах с помощью специализированного программного обеспечения, поэтому доверять ее разумно специалистам, имеющим большой опыт выполнения подобных работ. Разработкой проектов жилых домов занимается немало конкурирующих между собой проектных бюро, поэтому на рынке представлено множество решений, из которых всегда можно подобрать варианты, отвечающие требованиям конкретного заказчика.
            Хорошо, когда проектные работы заказываются у организации, которая в дальнейшем и построит дом по своему же проекту. Это сведет к нулю неоднозначные толкования, конфликты между разработчиком и строителем, а проектная документация будет разработана с учетом материалов и технологий, которые для данной строительной фирмы доступны и хорошо освоены в производстве, что положительно скажется на результате. Уважающие себя строительные компании имеют в своем штате архитекторов и дизайнеров, которые могут квалифицированно выполнить работу и обеспечить авторский надзор на всех этапах строительства.
            Разработчики всегда готовы внести изменения в стандартный проект в соответствии с предпочтениями клиента. При желании, можно заказать и абсолютно новый проект, учитывающий все особенности участка, имеющуюся инфраструктуру и в полной мере отвечающий запросам заказчика в части планировок, конструкции здания, используемых материалов и декоративных элементов.
        </div>
        <div class="arr1">
            <img style="width:100%;" src="/Content/img/gallery/0/9.jpg" alt="Фото деревянного дома из бревна" />
        </div>
        <div class="text" style="text-align:justify; ">
            Какой же проект выбрать – индивидуальный или готовый с адаптацией? У обоих вариантов есть свои плюсы и минусы. Готовый проект хорош тем, что его использование позволит сэкономить время на разработку и стоит он дешевле индивидуального. Плюсом является и то, что проект базируется на стандартных решениях, которые уже хорошо приняты рынком и заслужили признание заказчиков. Если по данной документация объекты ранее уже строились, можно рассчитывать, что недоработки были выявлены и устранены, а сам проект прошел оптимизацию с точки зрения эксплуатационных параметров жилища, технологичности и уменьшения расхода материалов за счет снижения доли неиспользованных обрезков. При этом никакой готовый проект нельзя считать полностью готовым, пока в нем нет раздела, посвященного привязке строения к конкретному участку, поэтому без индивидуализации проекта с участием разработчика все равно не обойтись.
            Индивидуальный проект хорош возможностью реализовать все свои пожелания, построив дом, который идеально подходит именно для конкретного человека подобно сшитому в дорогом ателье костюму. В готовом проекте, рассчитанном на многократное использование, используются стандартные решения, удовлетворяющие усредненные пожелания среднего потребителя. Но конкретный заказчик средним не является, у него есть свои предпочтения и своя шкала ценностей. Для кого-то важна максимальная шумоизоляция помещений, кому-то нужна минимальная стоимость содержания здания после постройки и он готов ради этого понести дополнительные затраты при строительстве. А может быть, человеку не нужна большая гостиная, но обязательно наличие санузла для каждой спальни. А если творчески использовать ландшафт участка, можно создать неповторимый ансамбль с органично вписанным в него домом и надворными постройками. Все эти и множество других вариантов можно реализовать в рамках индивидуального проекта. В результате совместной с архитектором работы будет создан единственный и неповторимый дом, именно такой, какой нужен его хозяину.
            По индивидуальному проекту он построен или нет, определить со стороны, возможно, будет непросто. В этом нет ничего плохого, ведь жилище строится для себя, оно должно быть эстетичным, комфортным и функциональным, отвечать всем запросам хозяина в первую очередь. И для решения этой задачи индивидуальное проектирование подходит как нельзя лучше.
            После приемки комплекта проектной документации назад возврата нет, пора приступать к строительству. Если вы в процессе проектирования забыли что-то важное, придется переделывать проект. И хорошо еще, если недостаток будет выявлен до того, как началось строительство, иначе дополнительные затраты времени, денег и нервов могут надолго испортить настроение. Поэтому к проектированию надо подходить со всей серьезностью и уделять должное внимание всем аспектам. 
        </div>
    </div>
</div>


