@using Models
@using Helpers

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title">Строительство деревянного дома под ключ</div>
        <div class="text" style="text-align:justify; ">
            В современном мире при выборе строительного материала обращают внимание на его экологию. 
            Именно древесина относится к тем дарам природы, которые обладают экологичностью. Она уже долгое время считается наилучшим материалом для строительства. 
            На данный момент строительство деревянных домов пользуется большим спросом, особенно если дом возводится «под ключ».             
        </div>
        <div class="arr1">
            <img style="width:100%;" src="/Content/img/gallery/0/2.jpg" alt="Фото деревянного дома из бревна"/>
        </div>

        <div class="sub_title line-bottom">Преимущества строительства под ключ</div>
        <div class="text" style="text-align:justify; ">
            Для того, чтобы долгожданный переезд не был испорчен дополнительными работами или выявлением недочетов, рекомендуем заказать строительство деревянного дома под ключ. Для начала стоит разобраться, что представляет собой «строительство деревянного дома под ключ»?
            Данная услуга включает в себя, помимо стандартных этапов по строительству, такие этапы, как:
            <ul>
                <li>утепление всего помещения</li>
                <li>монтаж пола</li>
                <li>установка дверей и окон</li>
                <li>внутреннею отделку</li>
            </ul>
            Главным преимуществом строительства под ключ, является то, что клиент получает дом полностью готовый к эксплуатации. Это избавит его от дополнительных работ по благоустройству, установки дверей и прочих мелких доработок. Более того, данная услуга позволяет намного быстрее закончить благоустройство дома для скорейшего переезда. 
        </div>
        <div class="arr1">
            <img style="width:100%;" src="/Content/img/gallery/0/3.jpg" alt="Фото деревянного дома из бревна"/>
        </div>

        <div class="sub_title line-bottom">Основные этапы строительства</div>
        <div class="text" style="text-align:justify; ">
            <strong style="display:block;">Проектирование</strong>
            Трудно найти дом, который отвечает всем требованиям, особенно, если есть ясное видение внешнего вида желаемого дома. Именно для таких ситуаций существует проектирование. Перед возведением деревянного дома необходимо создать проект, а уж по нему начинать постройку.

            <strong style="display:block;">Производство</strong>
            Для возведения деревянного дома важно выбрать древесину хорошего производства. Важно обратить внимание на качество дерева, чтобы оно было ровное, без дыр, иначе плесени в доме не избежать. Дома из клееного бруса считаются наиболее высокотехнологичными, потому что проходит как минимум 12 этапов обработки. На последнем этапе выявляются все дефекты древесины, если они есть, то ее не используют в строительстве.

            <strong style="display:block;">Фундамент</strong>
            Не менее важным этапом строительства деревянного дома является выбор фундамента. На основании геодезических и климатических условий имеется возможность принять правильное решение в выборе вида фундамента. Стоит учитывать, что при наличии грунтовых вод лучше воздержаться от подвала в проекте дома. Есть множество видов фундамента, но наиболее известен столбчатый, ленточный и плитный. Столбчатый представляет собой фундамент, основанный на вырытых дырах, на которых устраивается подушка, а поверх нее заливается столб. Имеется два вида ленточного фундамента: сборный и монолитный. Сборный ленточный фундамент собирают из блоков, которые устанавливают на подготовленный бетонный участок. Блоки заливают цементом и щели между ними тоже. Первым слоем монолитного ленточного фундамента является щебень. Его заливают раствором и устанавливают опалубку. Плитный фундамент состоит из плит, которые находятся под всей площадью дома. За счет этого уменьшается давление на грунт, но стоит помнить, что через несколько лет, возможно, данному типу фундамента потребуется ремонт.

            <strong style="display:block;">Сборка дома</strong>
            Сборка дома проходит по проекту. В среднем сборка помещения из древесины занимает полтора месяца. Процесс сборки зависит от выбранного материала.

            <strong style="display:block;">Монтаж кровли</strong>
            Кровля имеет не последнее значение в возведении деревянного дома. Есть множество разновидностей кровли, но максимально простыми являются плоские и двухскатные. Плоскую кровлю используют в основном в районах, где выпадает минимальное количество снега и осадков, преимущественно это южные районы. Двухскатная кровля имеет огромное количество плюсов и может быть использована в любом районе. Благодаря конструкции двухскатной кровли, даже самое большое количество снега не создает никакой нагрузки дому, потому что скатывается.

            <strong style="display:block;">Инженерные системы</strong>
            Инженерные системы включают в себя водоснабжение, отопление, канализацию, электричество и вентиляцию. Проект инженерных коммуникаций разрабатывается еще до начала стройки, на начальных этапах проектирования дома. Поэтому важно заранее продумать расположение сантехники и бытовых приборов. Не менее важно позаботься о монтаже качественной системы вентиляции, что бы избежать появления плесени и не приятных запахов.

            <strong style="display:block;">Отделка</strong>
            Нередко отделочный материал зависит от вида древесины, которая использовалась в постройке дома. Часто в доме из бруса или оцилиндровангого бревна отделку не проводят вовсе, а покрывают поверхность краской или антисептиком.         </div>
        <div class="arr1">
            <img style="width:100%;" src="/Content/img/gallery/0/5.jpg" alt="Фото деревянного дома из бревна"/>
        </div>

    </div>
</div>

