@using Models
@using Helpers

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title">Инженерные системы в деревянном доме</div>
        @*<div class="text" style="text-align:justify; ">
            Строительство домов из брёвен позволяет получить красивое, добротное и весьма долговечное здание. Однако это удовольствие достаточно дорогое и доступное не каждому.
        </div>*@
        @*<div class="arr1">
            <img style="width:100%;" src="/Content/img/gallery/3/11.jpg" alt="Фото деревянного дома из бревна" />
        </div>*@

        <div class="text" style="text-align:justify; ">
            Для полноты картины комфорта и уютного проживания в деревянном доме, следует позаботиться о выборе и профессиональном монтаже всех коммуникаций. Инженерные системы в деревянном доме, это отопление, водоснабжение, электрификация, вентиляция, канализация.
            Компания «СВ-Строй» выполняет не только строительство домов из клееного бруса и оцилиндрованного бревна, но и производит монтаж коммуникаций, руководствуясь точными техническими расчетами.
        </div>

        <div class="title">Монтаж электрики в деревянном доме</div>
        <div class="text" style="text-align:justify; ">
            Специфика деревянного дома требует от исполнителя незаурядных знаний норм электромонтажа. Именно поэтому данной работой занимаются узкие специалисты.
            Мы выполняем все работы, связанные с монтажом электрики, поможем составить техническое задание для проектирования, проконсультируем касательно вопросов расстановки электроприборов в доме.
            Наши инженеры-проектировщики быстро и качественно составят проект электрификации, в соответствии с которым и пройдет монтаж электрики в деревянном доме. Нужно понимать, что инженерные системы в деревянном доме, а точнее их устройство, требует особенного подхода, так как деревянный дом можно отнести к числу источников повышенной опасности.
            В этой связи особое внимание уделяется таким моментам, как устройство заземления, молниезащиты дома. Монтаж электрики в деревянном доме проводится исключительно на базе качественных материалов, с соблюдением технологии и этапности работ.
        </div>

        <div class="title">Сантехнические работы в деревянном доме</div>
        <div class="text" style="text-align:justify; ">
            Безусловно, наиболее оптимальным и удобным было бы подключить дом к централизованной сети водоснабжения, но если такой возможности нет, мы обеспечим автономный водозабор, к примеру, из скважины.
            При устройстве системы водоснабжения в деревянных домах применяются популярные сегодня трубы из:
            <ul>
                <li>сшитого полиэтилена</li>
                <li>металлопласта</li>
                <li>полипропилена</li>
            </ul>
            Сантехнические работы в деревянном доме могут проводиться по открытому и скрытому принципу.
            Открытый монтаж сети водоснабжения дома, наши специалисты проводят с использованием полипропиленовых труб, так как они совмещают в себе эстетические качества и стойкость к колебаниям температур.
            Для скрытого монтажа нами применяются металлопластиковые трубы и трубы из шитого полиэтилена.
            Говоря о канализации, хотим отметить, что сегодня уровень комфорта загородного дома ничем не уступает комфорту фешенебельной городской квартиры. Если нет возможности подключиться к централизованной канализации, мы предлагаем монтаж автономной системы очистных сооружений.
            Герметичные ёмкости для накапливания нечистот остались в далеком прошлом, в виду своей неэффективности. Сегодня мы предлагаем своим клиентам монтаж очистительных систем, благодаря которым ресурс канализации фактически становится неограниченным. Задача такой локальной канализации – очистить стоки и сбросить их в почву, не причиняя экологического урона природе. 
        </div>

        <div class="title">Отопление в деревянном доме</div>
        <div class="text" style="text-align:justify; ">
            Сам по себе деревянный дом имеет определенные преимущества при устройстве отопления, благодаря тому, что дерево, как материал обладает высокой теплоемкостью. Так что для отопления дома из клееного бруса или оцилиндрованного бревна потребуется совсем немного труб и батарей.
            В рамках устройства отопления в деревянном доме, наши специалисты:
            <ul>
                <li>
                    выполнят грамотный технический расчет, подберут оптимальный вариант отопления, гарантирующий необходимую теплоотдачу при минимальном расходовании энергоресурса
                </li>
                <li>
                    произведут качественную разводку системы отопления, с учетом равномерного распределения тепла во всех помещениях
                </li>
                <li>
                    приложат все усилия для того, чтобы система была максимально эффективной и герметичной
                </li>
            </ul>
        </div>

        <div class="title">Системы вентиляции деревянного дома</div>
        <div class="text" style="text-align:justify; ">
            Реализуемая нами вентиляционная система строится на принципах естественного воздухообмена: загрязненный воздух удаляется вытяжными вентиляционными каналами, приток свежего воздуха гарантируется так называемыми оконными клапанами. Это экономичный, но весьма эффективный способ вентиляции вашего дома.
        </div>
    </div>
</div>


