@using Models
@using Helpers

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title">Типы и виды фундаментов</div>
        <div class="text" style="text-align:justify; ">
            Во время строительства деревянных домов необходимо со всей ответственностью отнестись к выбору фундамента, так как он является самым важным элементом любого сооружения. Допуская ошибки при строительстве, можно получить массу глобальных последствий: перекоса дома, перерасхода материалов, вертикальной или горизонтальной деформации, трещин.
            Существует несколько видов фундамента, которые отлично подойдут для строительства частных домов из дерева. Отличаются они конструкцией и технологией закладки.
            <ul>
                <li>Столбчатый</li>
                <li>Ленточный (монолитный и сборный)</li>
                <li>Свайный</li>
                <li>Плитный (сплошной)</li>
            </ul>
        </div>
        @*<div class="arr1">
            <img style="width:100%;" src="/Content/img/gallery/3/11.jpg" alt="Фото деревянного дома из бревна" />
        </div>*@

        <div class="title">Столбчатый фундамент</div>
        <div class="text" style="text-align:justify; ">
            Такой тип используется при возведении каркасных сооружений без подвалов, имеющих легкие стены и не слишком большую нагрузку на землю. 
            Это - дачи, бани, сауны, беседки. Стоимость его намного ниже ленточного типа.
        </div>
        <div class="sub_title line-bottom">Как устроен столбчатый фундамент</div>
        <div class="text" style="text-align:justify; ">
            Столбы ставятся в разных местах с расстоянием в 1,5 -2,5 м. Обычно это углы будущего дома, места, где пересекаются стены, а также точки с высокой нагрузкой. Материал изготовления столбов – бетон, бутобетон, каменная или кирпичная кладка.
            Применение столбчатого фундамента обеспечивает экономичность, надежность, гидроизоляцию и длительный срок эксплуатации. Но устанавливать его следует только в тех местах, где грунт неподвижен, а также там, где его не смоет вода.
        </div>

        <div class="title">Ленточный монолитный</div>
        <div class="text" style="text-align:justify; ">
            Это основа надежного и устойчивого здания, а также его опора. От того, как хорошо он залит, зависит качество сооружения и его сопротивляемость агрессивным условиям внешней среды. Если фундамент заливается правильно, с учетом всех требований и технологий, то здание никогда не просядет и не перекосится.
            Монолитный ленточный фундамент используется не только для возведения деревянных домов, но и для кирпичных, каменных или блочных сооружений.
        </div>
        <div class="sub_title line-bottom">Как устроен ленточный фундамент монолитного типа</div>
        <div class="text" style="text-align:justify; ">
            Такой тип очень популярен в строительстве благодаря надежности, и способности выдерживать огромные нагрузки на сжатие. Чтобы его залить необходим бетон и арматура в больших количествах, поэтому стоимость его будет высокой.
            Монолитный фундамент создается в несколько этапов:
            <ul>
                <li>Осуществляется разметка</li>
                <li>Проводятся работы на грунте</li>
                <li>Монтируется арматура</li>
                <li>Устанавливаются опалубки</li>
                <li>Заливается бетон</li>
            </ul>
        </div>

        <div class="title">Ленточный сборный</div>
        <div class="text" style="text-align:justify; ">
            Такой фундамент выполнен из типовых блоков из железобетона, которые изготавливают специально на заводах и монтируют на стройплощадке при помощи специальной техники.
            Но это может вызвать некие неудобства, ведь не везде может хватать места для вылета стрелы крана для укладки блоков стены между комнатами. Именно поэтому следует внимательно изучить план строительства, обдумать заранее все нюансы.
        </div>
        <div class="sub_title line-bottom">Как устроен ленточный фундамент сборного типа</div>
        <div class="text" style="text-align:justify; ">
            Первым делом вырывается траншея, размеры которой соответствуют размерам будущего сооружения. Дальше обустраивают нижнюю часть фундамента, которую называют сборными подушками. После этого приступают к возведению вертикальной стенки, которая состоит бетонных блоков. Также это могут быть сборные железобетонные универсальные дырчатые блоки с пустотами, обычно армированные.
            После этого при помощи крана осуществляется кладка блоков между вертикальными стенами. Все это заливают бетоном. Этот вид фундамента выделяется высочайшей прочностью и отличной грузовой способностью, чем не могут похвастаться другие типы фундаментов.
        </div>

        <div class="title">Свайный</div>
        <div class="text" style="text-align:justify; ">
            Следующий тип фундамента считается незаменимым в случае, когда строительство здания проводится на неустойчивой земле. Свайный фундамент отлично подойдет для строительства огромного здания из:
            <ul>
                <li>Бута</li>
                <li>Кирпича</li>
                <li>Бутобетона</li>
                <li>Камня</li>
                <li>Железобетона</li>
                <li>Дерева</li>
            </ul>
            Когда под слабой неустойчивой землей не глубоко находят мощный грунт - применяют сваи-стойки. Они способны проникнуть сквозь слабую почву и передать нагрузку на сильную.
        </div>
        <div class="sub_title line-bottom">Как устроен свайный фундамент</div>
        <div class="text" style="text-align:justify; ">
            Свайный фундамент создается в несколько этапов:
            <ul>
                <li>
                    Сначала определяют, сколько свай требуется под определенный размер здания
                </li>
                <li>
                    Проводятся работы по бурению скважин, диаметр которых не менее 20 см
                </li>
                <li>
                    В готовые скважины ставят асбестоцементные трубы с соответствующим диаметром
                </li>
                <li>
                    В трубы помещают от 2 до 4 металлических прутьев с диаметром 1-1,5 см. Их концы перевязывают арматурным каркасом
                </li>
                <li>
                    Проводятся работы по выравниванию верха свай
                </li>
                <li>
                    В трубы с прутьями заливается бетон
                </li>
                <li>
                    Осуществляют вязку каркаса из арматуры
                </li>
                <li>
                    Всю конструкцию полностью заливают бетоном
                </li>
            </ul>
        </div>

        <div class="title">Плитный</div>
        <div class="text" style="text-align:justify; ">
            Такой фундамент состоит из сплошной плиты из железобетона. Его чаще всего используют при строительстве на местности со слабой почвой или с грунтовыми водами. Плитный фундамент имеет высокую устойчивость к большим нагрузкам. Ему не страшны любые деформации. Его не нужно заливать, предварительно вырывая канавы или траншеи, поэтому можно сэкономить на земляных работах и покупке дополнительных стройматериалов.
        </div>
        <div class="sub_title line-bottom">Как устроен плитный фундамент</div>
        <div class="text" style="text-align:justify; ">
            Сначала на выбранной под строительство территории происходит очистка от мусора, верхних слоев почвы. Далее землю необходимо выровнять и сделать песчаную подушку, которая уменьшит последствия выпирания грунта. После этого ставятся доски, из которых образовывается коробка. Все это фиксируется для устойчивости на грунте.
            Дальше заливается первый слой бетона, поверх которого кладут армированные или железобетонные прутья. Сверху заливается еще один слой бетона, по размерам соответствующий первому.

            Приступая к строительству зданий из дерева необходимо не только оценить местность, на которой будут проходить работы, но и выбрать соответствующий тип фундамента. От него зависит прочность и надежность любой конструкции, а также срок ее эксплуатации.
            Обратившись в нашу компанию, вы можете заказать строительство частного дома из дерева с любым типом фундамента. У нас работают опытные мастера и профессионалы своего дела, поэтому за качество будущего сооружения можно абсолютно не волноваться.
        </div>
        <br />
    </div>
</div>


