@using Models
@using Helpers

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title">Ландшафтный дизайн</div>
        <div class="text" style="text-align:justify; ">
            Ландшафтный дизайн - этот термин сейчас знаком не только владельцам загородных домов, но и жителям мегаполиса. Ведь всем людям хочется преобразить свой мир, создать тот сад, где языком самой природы будут выражены их представления о совершенстве, тем более, для озеленения и благоустройства всегда найдётся место, будь то загородный участок, крыша многоэтажки или просто лужайка возле ресторана.
            Мы предлагаем: ландшафтное проектирование и ландшафтный дизайн, благоустройство территорий (беседки, малые формы, освещение, дренаж), озеленение (устройство зелёных изгородей, газонов, цветников, клумб, посадку деревьев и кустарников, зимние сады, фитодизайн интерьера, альпийские горки, рокарии, миксбордеры), мощение дорожек, декоративные водоёмы. Основным принципом нашей работы является максимальное удовлетворение пожеланий заказчика в сочетании с нашим опытом и качеством.
            В отличие от огородничества или садоводства, основная задача которых имеет сельскохозяйственную направленность, профессиональный ландшафтный дизайн - это искусство и практические действия по озеленению и благоустройству. Главная задача ландшафтного дизайна — создание гармонии и красоты в сочетании с удобным использованием инфраструктуры построек. И мы рады предложить вам такие услуги, выполненные на высоком профессиональном уровне.
        </div>

        <br />
    </div>
</div>


