@using Models
@using Helpers

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title"><h1>Внешняя отделка домов</h1></div>
        <div class="text" style="text-align:justify; ">
            Хотя дерево – надежный и практически вечный материал, деревянный дом нуждается в отделке. Просто некоторые дома отделываются только внутри, а некоторые – и снаружи. Правильно подобранные отделочные материалы сделают деревянный дом еще красивее и уютнее.
            Какой вариант отделки выбрать, зависит только от мастерства дизайнера и финансов хозяина. Деревянный дом можно превратить и в городскую квартиру, и в охотничью заимку, и в сельский домик. Надо только правильно подобрать комбинацию искусственных (стекло, пластик и прочие) и натуральных (дерево, камень) материалов.

            Варианты внешней отделки
            • Вагонка – самый простой и дешевый способ отделки. Чаще всего ею отделывают фундамент. Следует, однако, учитывать, что вагонка – это дерево: она боится влажности и со временем возникает необходимость ее замены.<br />
            • Дома, построенные из бруса или оцилиндрованного бревна, привлекательны сами по себе, хотя, для лучшей сохранности дерева, защиты от влажности и насекомых, можно воспользоваться лаком или специальными растворами для пропитки древесины. Последний способ, правда, довольно трудоемок, так как пропитку надо регулярно обновлять.<br />
            • Если обновлять фасад хочется как можно реже, можно воспользоваться краской.<br />
            Покраска: предварительная подготовка
            Выбирая краску, обратите внимание, для каких работ она предназначена: внутренних или наружных. Можно обойтись и без краски, обработав дерево лаком или морилкой.
            Нельзя начинать покраску деревянного дома, предварительно не подготовив стены. Дерево необходимо тщательно очистить от загрязнений. Затем обработать наждачной бумагой. Следующим этапом подготовки буде шпаклевка и грунтовка (имейте в виду, что обычно грунтовка сохнет два дня).

        </div>

        <br />
    </div>
</div>


