@using Models
@using Helpers

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title"><h1>Строительство бассейнов</h1></div>
        <div class="text" style="text-align:justify; ">
            Компания ПСК СВ-СТРОЙ выполняет строительство различных видов бассейнов на дачах и других загородных объектах под ключ. У нас можно заказать весь комплекс работ, 
            включая проектирование, закупку необходимых компонентов и материалов, монтаж конструкций и их последующее обслуживание. Мы предлагаем как недорогие 
            типовые решения, так и эксклюзивные варианты, отличающиеся уникальным стилем и использованием самого высококлассного оборудования.
            <br /><br />
            Прежде чем построить бассейн на дачном участке, необходимо определиться с его видом. Всего существует три основных разновидности конструкций – стационарные, сборно-разборные и надувные. Последний вариант является недолговечным, поэтому его используют преимущественно в качестве временного объекта в загородных домах с приусадебными участками небольшого размера. Строительство сборно-разборных сооружений считается более рациональным способом обустройства бассейна на даче. Они так же, как и надувные, не требуют копки котлована и сложных монтажных работ, поэтому цена их установки сравнительно невысока. При необходимости их можно разобрать для сезонного хранения в загородном доме.
            <br /><br />
            Самыми надежными и долговечными являются стационарные бассейны. Они достаточно сложны в установке, поскольку требуют выкапывания котлована, 
            создания фундамента и выполнения ряда других работ. <br />
            В то же время они обладают огромным количеством преимуществ, включая:
            <ul>
                <li>длительный срок службы, который измеряется десятками лет;</li>
                <li>высокую прочность и способность выдерживать механические нагрузки, колебания температуры, воздействие осадков и пр.;</li>
                <li>многообразие дизайнерских решений;</li>
                <li>возможность оснащения различных аксессуаров и аттракционов</li>
            </ul>
            <br /><br />
            Именно поэтому загородное строительство крытых бассейнов на даче чаще всего подразумевает создание стационарных конструкций.<br />
            Они могут изготавливаться из следующих материалов:
            <ul>
                <li>бетон. Он представляет собой традиционный материал с огромным количеством достоинств;</li>
                <li>композит. Подобные изделия не имеют швов, поэтому характеризуются отличной гидроизоляцией. Строительство бассейнов из композитных материалов занимает минимум времени и не требует наличия на даче или загородном коттедже подъездных путей для тяжелой техники;</li>
                <li>
                    полипропилен. Этот полимер позволяет построить в загородном доме бассейн любой формы и конфигурации. Конструкции изготавливаются путем
                    термического сваривания полипропиленовых листов. Строительство данных бассейнов под ключ считается хорошим вариантом для тех,
                    кто хочет создать на даче максимально комфортную обстановку за приемлемые деньги.
                </li>
            </ul>
        </div>

        <br />
    </div>
</div>


