@using Models
@using Helpers

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title">Реконструкция и ремонт деревянных домов</div>
        <div class="text" style="text-align:justify; ">
            Ни для кого не секрет, что реконструкция является важным мероприятием в жизненном цикле любого эксплуатируемого объекта. Реконструкция позволяет проработать проблемные зоны строений, тем самым обновляя их и визуально освежая. Особое внимание стоит уделять деревянным домам, так как дерево, как природный материал, сильно подвержено внешним факторам. Если вы хотите сохранить первоначальный облик своего дома или же дополнить его, то реконструкция будет служить для этой цели лучшим инструментом.
            <br /><br />
            Компания «СВ-строй», как компания, находящаяся на рынке более двадцати лет, а также имеющая колоссальный опыт работы с объектами, поможет преобразовать Ваш дом и выполнит самые смелые пожелания.
            <br /><br />
            Реконструкция дома, построенного из дерева, может состоять как из комплекса работ, так и из одного отдельного мероприятия. Сложность работы и количество задач, необходимых для преобразования строения, обозначаются индивидуально и зависят от состояния постройки.
            Команда профессионалов компании «СВ-строй» предлагает своему клиенту следующие работы по реконструкции:<br />
            - подъем дома<br />
            - замена или усиление фундамента<br />
            - кровельные работы<br />
            - утепление стен<br />
            - установка водосточной системы<br />
            - внешняя и внутренняя отделка<br />
            - увеличение площади дома<br />
            - пристройка веранды<br />
            <br />
            Если у Вас есть желание освежить свой дом или же Вы испытываете необходимость в его качественном изменении, обращайтесь, и наши специалисты 
            разработают для Вас оптимальное решение.
        </div>
        <br />
    </div>
</div>


