@using Models
@using Helpers

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title">Выбор крыши для дома из бревна</div>
        <div class="text" style="text-align:justify; ">
            Завершающим этапом строительства дома является крыша. К выбору её типа требуется подходить с особой ответственностью и вниманием, так как это один из важнейших элементов возводимой конструкции. Именно внешний вид крыши задаёт архитектурный облик здания. А главными её задачами является защита строения от осадков атмосферного характера, поэтому столь важно правильно обустроить и покрыть её.
            Выбирая конструкцию, стремятся совместить в ней высокую водонепроницаемость и максимальную лёгкость.
            Определение «крыша» можно условно разделить на два основных конструктивных блока: кровлю и крышу.
            Кровлей именуется наружная часть крыши, осуществляющая непосредственную защиту здания от атмосферных осадков. Параметры кровли задаются выбранными кровельными материалами и технологией её настила.
            Крышей именуется несущая конструкция, предназначенная для восприятия любых внешних нагрузок и их распределения на несущие стены здания. Как правило, в конструкции крыши имеется чердак, помещение, формирующее барьер между жилыми помещениями и внешней средой. Если выбирается конструкция крыши, предусматривающая обустройство мансардного помещения, требуется её дополнительное утепление.
            Чаще всего дома, выполненные из брёвен, имеют крыши следующих типов:
            <ul>
                <li>
                    <strong>Односкатная.</strong>
                    Выполняется из одного ската, который опирается на противоположные разновысокие несущие стены дома.
                </li>
                <li>
                    <strong>Двухскатная.</strong>
                    Считается классикой. В разговорной речи среди строителей часто именуется «щипцовой». Каждый из скатов опирается на свою несущую стену, высота которых одинакова.

                </li>
                <li>
                    <strong>Шатровая.</strong>
                    Этот вариант имеет четыре треугольных ската с единой вершиной (пирамида).

                </li>
                <li>
                    <strong>Мансардная.</strong>
                    Выполняются из двух частей: крутой нижней и пологой верхней. Подобное техническое решение увеличивает внутреннее пространство чердака.
                </li>
                <li>
                    <strong>Вальмовая.</strong>
                    Два ската подобной крыши выполняются в форме треугольников (вальмы), два оставшихся имеют трапециевидную форму.
                </li>
                <li>
                    <strong>Полувальмовая.</strong>
                    Разновидность вальмовой, отличающаяся тем, что на торцевых стенках срезаны вершины в форме маленьких скошенных треугольников.
                </li>
            </ul>
        </div>
        @*<div class="arr1">
            <img style="width:100%;" src="/Content/img/gallery/3/11.jpg" alt="Фото деревянного дома из бревна" />
        </div>*@

        <div class="title">Кровля для деревянного дома</div>
        <div class="text" style="text-align:justify; ">
            Сегодняшний рынок насыщен предложениями различных типов кровельных материалов. Не являясь специалистом, сделать правильный выбор достаточно сложно, т.к. каждый материал имеет индивидуальные эксплуатационные характеристики, требует конкретной технологии настила и, разумеется, обладает определённой стоимостью.
            Со срубами из брёвен хорошо сочетаются практически любые типы имеющихся в продаже кровельных материалов. Все они позволяют гарантированно обеспечить решение таких задач, как:
            <ul>
                <li>
                    Защита дома от осадков атмосферного характера
                </li>
                <li>
                    Обеспечение звукоизоляции внутренних помещений и теплоизоляции здания
                </li>
                <li>
                    Придание дому визуальной привлекательности
                </li>
            </ul>
        </div>

        <div class="title">Типы кровельных материалов</div>
        <div class="sub_title line-bottom">Черепица натуральная</div>
        <div class="text" style="text-align:justify; ">
            Этот материал предлагается в двух вариантах: цементно-песчаная черепица и черепица керамическая.
            Цементно-песчаная производится из смеси песка и высокопрочного цемента. Вторая изготавливается из глины по технологиям, аналогичным тем, которые используются при производстве кирпича.
            Оба варианта прекрасно подходят для крыш любых конфигураций и зданий, возведённых из различных материалов. Преимуществами являются:
            <ul>
                <li>
                    Экологичность
                </li>
                <li>
                    Надёжность
                </li>
                <li>
                    Бзопасность
                </li>
                <li>
                    Высокая стойкость к морозам
                </li>
                <li>
                    Шумоизоляция
                </li>
                <li>
                    Низкое водопоглощение
                </li>
                <li>
                    Качественная теплоизоляция
                </li>
                <li>
                    Материал имеет значительную стойкость к изгибающим нагрузкам и может иметь любой цвет
                </li>
            </ul>
            Материал легко монтируется, прост в ремонте и обслуживании, хорошо выдерживает вес человека.
            Минусами подобной черепицы являются значительный вес, требующий усиления стропильной системы, и высокая стоимость.
        </div>

        <div class="sub_title line-bottom">Черепица битумная</div>
        <div class="text" style="text-align:justify; ">
            Этот материал часто именуется мягкой кровлей. Основой является полиэстровая ткань, пропитанная битумной мастикой. Каждый черепичный лепесток является многослойным.  В результате, при её настиле, лепестки склеиваются между собой в монолитное покрытие под воздействием прямого УФИ.
            Отличный выбор для крыши, имеющей сложную геометрию.
        </div>

        <div class="sub_title line-bottom">Металлочерепица</div>
        <div class="text" style="text-align:justify; ">
            В частном домостроении этот вариант кровли пользуется большим спросом. Производится из металла, прошедшего цинкование, и покрытого специальным полимерным слоем для дополнительной защиты от влаги. Предлагается в различном цветовом исполнении.
            Материал характеризуется:
            <ul>
                <li>Удобством монтажа</li>
                <li>Длительным сроком эксплуатации</li>
                <li>Незначительным весом</li>
                <li>Стойкостью к знакопеременным температурным нагрузкам</li>
                <li>Огнеустойчивостью</li>
                <li>Экологической чистотой</li>
            </ul>
        </div>

        <div class="sub_title line-bottom">Ондулин</div>
        <div class="text" style="text-align:justify; ">
            Битумные листы волнообразного профиля, имеющие внешний защитный слой различных цветов.
            Незначительные размеры и вес листов позволяют легко проводить монтаж даже лицам, не имеющим специальной квалификации.
            Крепление данного материала к обрешётке выполняется специальными кровельными гвоздями. Заявленные производителем сроки эксплуатации – до полувека.
        </div>

        <div class="sub_title line-bottom">Стальная кровля</div>
        <div class="text" style="text-align:justify; ">
            Простой и надёжный вариант кровли. Требует регулярной окраски каждые два – три года. Рассчитан на 30 лет эксплуатации. Выполняется листами оцинкованной стали с полимерным защитным слоем.
        </div>

        <div class="sub_title line-bottom">Медная кровля</div>
        <div class="text" style="text-align:justify; ">
            Один из наиболее дорогих вариантов кровельного покрытия. Смотрится очень презентабельно, подчёркивая статус владельца подобного дома. Срок службы – до 150 лет.
        </div>
        <br />
    </div>
</div>


