@using Models
@using Helpers

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title"><h1>Технический надзор</h1></div>
        <div class="text" style="text-align:justify; ">
            Технический надзор является крайне важным атрибутом строительства деревянного дома. Деньги, потраченные заказчиками строительства на квалифицированный 
            технический надзор — это гарантия должного качества как самих строительных работ так и соответствия используемых строительных материалов требованиям 
            проектной документации, ГОСТам и СНиПам, а также их изначально заявленной сметной стоимости.
            <br /><br />
            Ведение технического надзора должно проводиться со всей ответственностью и профессионализмом. Современная материально-техническая база и опыт 
            сотрудников компании ПСК СВ-СТРОЙ позволяют оперативно контролировать качество производимых подрядными организациями работ не только на этапе возведения стен
            и других конструктивных элементов деревянного дома, но и в процессе монтажа инженерного оборудования. Это позволяет своевременно выявлять и устранять 
            всевозможные дефекты, ошибки и недоделки на любой из стадий строительно-монтажных работ.
            <br /><br />
            Компания ПСК СВ-СТРОЙ осуществляет всесторонний технический надзор как в процессе строительства, так и в процессе реконструкции или капитального ремонта 
            домов из оцилиндрованного бревна или клееного бруса.
            <br /><br />
            Спект услуг по техническому надзору включают в себя следующие виды работ:
            <ul>
                <li>Входной контроль проектной документации при проведении проектно-изыскательских работ</li>
                <li>Контроль за качеством строительства по всем видам строительно-монтажных работ, включая контроль соблюдения сметной стоимости и бюджета строительства.</li>
                <li>Приемка законченных строительством домов в эксплуатацию</li>
            </ul><br />
            По итогам всех видов технического надзора специалисты нашей компании направляют Заказчику подробные отчеты о ходе проверок и испытаний на объекте, 
            информирует его о выявленных нарушениях с приложением подтверждающих документов, актов, исполнительной документации, фотоматериалов. 
            Наши специалисты могут проводить обследования, различные испытания в целях выявления или 
            подтверждения нарушений при осуществлении строительства и реконструкции деревянных домов. Это позволяет Заказчику при необходимости оспорить или избежать 
            необоснованных штрафов и предписаний, предъявляемых инспекторами государственных служб строительного и технического надзора.
        </div>

        <br />
    </div>
</div>


