@using Models
@using Helpers

@{
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}

<div class="hide_line style_0 section section126" style="background-color:#ffffff;">
    <div class="section_inner">
        <div class="title">Виды бревна для строительства дома</div>
        <div class="text" style="text-align:justify; ">
            Строительство домов из брёвен позволяет получить красивое, добротное и весьма долговечное здание. Однако это удовольствие достаточно дорогое и доступное не каждому.
        </div>
        <div class="arr1">
            <img style="width:100%;" src="/Content/img/gallery/3/11.jpg" alt="Фото деревянного дома из бревна" />
        </div>

        <div class="text" style="text-align:justify; ">
            <strong style="display:block;">Окорённое бревно</strong>
            Данный вид брёвен является самым долговечным. Такие брёвна, до недавнего времени, обрабатывались исключительно вручную, проходя, при этом, два основных этапа.
            Сначала с бревна удаляется кора (выполняется окорка с использованием топора и скобеля). Из бревна, прошедшего первичную обработку, рубится сруб, который проходит черновую шлифовку. После сборки на участке, выполняется финишная шлифовка.
            Подобная технология обработки позволяет практически полностью сохранить внешний слой материала, обладающий защитными свойствами. При выполнении антисептической обработки сруб из такого бревна простоит не менее века.
            Сегодня всё большее количество специализированных предприятий переходит на выполнение окорки с использованием установок, осуществляющих обработку бревна водой, подаваемой под высоким давлением. Качество продукции получается на порядок выше, чем при ручной обработке. Материал сохраняет всю визуальную привлекательность естественной древесины (натуральный цвет, имеющиеся наплывы) и приобретает специфический блеск, который, при иных вариантах обработки, может достигаться только использованием лаков.

            <strong style="display:block;">Строганное бревно</strong>
            Подобное бревно для строительства домов иногда именуют тёсаным. Его получают посредством обработки ствола вручную. Ствол корят, частично подсушивают, затем строгают вручную.

            <strong style="display:block;">Оцилиндрованное бревно</strong>
            Это цельное бревно, обладающее естественной влажностью, и прошедшее специальную обработку на деревообрабатывающих станках. Применяется два основных типа обработки: фрезерование и протяжка.
            Протяжка значительно проще. Бревно протягивается на специальном станке (протяжном). При этом выполняется его четырёхстороннее фрезерование вдоль волокна. На выходе бревну придаётся цилиндрическая форма, и формируются чашки для сбора сруба. Достоинством данного варианта является повышенное качество и возможность формирования профиля любой сложности.
            Минус метода заключается в том, что обработка на таких станках далеко не всегда позволяет устранить естественную кривизну заготовки (бревна). Это значительно усложняет последующую сборку сруба.
            Фрезерование осуществляется фрезами, которые перемещаются поперёк волокна (представьте себе заточку точилкой карандаша). Плюсами метода является более строгая геометрия выходящего бревна. Недостатком является достаточно низкое качество подобной обработки и исключение формирования сложных профилей.
            Готовые заготовки, аналогично клеёному брусу, режутся по заданным размерам и в них выбираются узлы соединения.

        </div>

        <div class="title">Соединения и стыковка брёвен при строительстве деревянного дома</div>
        <div class="text" style="text-align:justify; ">
            Насколько тёплым и прочным получится дом, срубленный из брёвен, в значительной степени определяется тем, какой вариант угловой врубки выбран плотниками.
            Сегодня все варианты врубки делятся на 2 базовых класса по такому параметру, как наличие, либо отсутствие перепусков. Упомянутым термином обозначаются части бревна, которые на торцах сруба выходят за пределы его контура.
            
            <strong style="display:block;">Рубка «в чашу»</strong>
            Данная технология предусматривает вырубание углов с остатком. Этот вариант является, на сегодня, самым распространённым и имеет значительное количество всевозможных вариаций, как принадлежащих отечественной школе, так и пришедших к нам от зарубежных мастеров.
            Существенным недостатком рубки «в чашу» является значительный расход древесины. А главным достоинством можно считать качественную теплоизоляцию углов подобного сруба.
            
            <strong style="display:block;">Рубка «в лапу»</strong>
            В разговорной речи, он часто именуется врубкой без остатка Углы, срубленные «в лапу», требуется облицовывать. В противном случае, они замокают и продуваются.
            Возведённые подобным образом (т.е. не имеющие перепусков), срубы обшиваются блок-хаусом, деревянной вагонкой, штукатурятся, облицовываются сэндвич панелями, либо обкладываются кирпичом.<br />
            Существующие методы
            При рубке дома из бревна неукоснительно соблюдается требование о единой схеме выполнения угловых соединений в здании.  Если брёвна несущих стен рубятся «в чашу», то и межкомнатные перегородки выполняются по данной технологии.
            Любой существующий способ можно использовать для рубки жилого дома, а вот срубы под бани, в подавляющем большинстве случаев, «в лапу».
            До начала строительства, заказчик и исполнитель определяют лучший вариант. При этом обязательно учитываются:
            <p>•	Профессионализм плотников, выполняющих заказ</p>
            <p>•	Специфика климата в месте строительства</p>
            <p>•	С какой интенсивностью планируется использовать дом (сезонное или круглосуточное проживание)</p>
            Рубка с остатком (варианты)
            Самым простым по технике исполнения считается рубка «в чашу». Хотя в данном классе имеются и весьма сложные технологии.
        </div>
    </div>
</div>


